In [1]:
import pandas as pd
import numpy as np

### Cleaning grades_info Dataset

In [2]:
#Reading in the data for grades
grade_info = pd.read_csv("../raw_data/grade_info.csv")

In [3]:
grade_info.head(20)

   grade sub_grade
0      B        B2
1      C        C4
2      C        C5
3      C        C1
4      B        B5
5      A        A4
6      E        E1
7      F        F2
8      C        C3
9      B        B1
10     D        D1
11     A        A1
12     B        B3
13     B        B4
14     C        C2
15     D        D2
16     A        A3
17     A        A5
18     D        D5
19     A        A2

In [4]:
#Getting dimensions
grade_info.shape

(36, 2)

In [5]:
#checking for missing values
grade_info.isna().sum()

grade        1
sub_grade    1
dtype: int64

In [6]:
grade_info.isna()

    grade  sub_grade
0   False      False
1   False      False
2   False      False
3   False      False
4   False      False
5   False      False
6   False      False
7   False      False
8   False      False
9   False      False
10  False      False
11  False      False
12  False      False
13  False      False
14  False      False
15  False      False
16  False      False
17  False      False
18  False      False
19  False      False
20  False      False
21  False      False
22  False      False
23  False      False
24  False      False
25  False      False
26  False      False
27  False      False
28  False      False
29  False      False
30  False      False
31  False      False
32  False      False
33  False      False
34  False      False
35   True       True

In [7]:
grade_info.tail()

   grade sub_grade
31     G        G2
32     G        G1
33     F        F5
34     G        G5
35   NaN       NaN

In [8]:
grade_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   grade      35 non-null     object
 1   sub_grade  35 non-null     object
dtypes: object(2)
memory usage: 704.0+ bytes

The last row has NaN values.

In [9]:
#Removing the last row with missing values and saving as a new dataframe "grades_clean"
grades_clean = grade_info.drop([0, 35]).copy()
grades_clean

   grade sub_grade
1      C        C4
2      C        C5
3      C        C1
4      B        B5
5      A        A4
6      E        E1
7      F        F2
8      C        C3
9      B        B1
10     D        D1
11     A        A1
12     B        B3
13     B        B4
14     C        C2
15     D        D2
16     A        A3
17     A        A5
18     D        D5
19     A        A2
20     E        E4
21     D        D3
22     D        D4
23     F        F3
24     E        E3
25     F        F4
26     F        F1
27     E        E5
28     G        G4
29     E        E2
30     G        G3
31     G        G2
32     G        G1
33     F        F5
34     G        G5

In [10]:
#Writing grades_clean to csv and saving in clean_data files.
grades_clean.to_csv("../clean_data/grades_clean.csv")

### Reading in data dictionary.

In [11]:
#Reading in data dictionary
data_dictionary = pd.read_csv("../raw_data/LCDataDictionary.csv")

#Ensuring description column can be read in full.
pd.set_option("display.max_colwidth", None)
pd.set_option('display.max_rows', 120)

data_dictionary

,LoanStatNew,Description
0,acc_now_delinq,The number of accounts on which the borrower is now delinquent.
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan application
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by the borrower during registration.
5,annual_inc_joint,The combined self-reported annual income provided by the co-borrowers during registration
6,application_type,Indicates whether the loan is an individual application or a joint application with two co-borrowers
7,avg_cur_bal,Average current balance of all accounts
8,bc_open_to_buy,Total open to buy on revolving bankcards.
9,bc_util,Ratio of total current balance to high credit/credit limit for all bankcard accounts.
10,chargeoff_within_12_mths,Number of charge-offs within 12 months
11,collection_recovery_fee,post charge off collection fee
12,collections_12_mths_ex_med,Number of collections in 12 months excluding medical collections
13,delinq_2yrs,The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
14,delinq_amnt,The past-due amount owed for the accounts on which the borrower is now delinquent.
15,desc,Loan description provided by the borrower
16,dti,"A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income."
17,dti_joint,"A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income"
18,earliest_cr_line,The month the borrower's earliest reported credit line was opened
19,emp_length,Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
20,emp_title,The job title supplied by the Borrower when applying for the loan.*
21,fico_range_high,The upper boundary range the borrower’s FICO at loan origination belongs to.
22,fico_range_low,The lower boundary range the borrower’s FICO at loan origination belongs to.
23,funded_amnt,The total amount committed to that loan at that point in time.
24,funded_amnt_inv,The total amount committed by investors for that loan at that point in time.
25,grade,LC assigned loan grade
26,home_ownership,"The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER."
27,id,A unique LC assigned ID for the loan listing.
28,il_util,Ratio of total current balance to high credit/credit limit on all install acct
29,initial_list_status,"The initial listing status of the loan. Possible values are – W, F"
30,inq_fi,Number of personal finance inquiries
31,inq_last_12m,Number of credit inquiries in past 12 months
32,inq_last_6mths,The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
33,installment,The monthly payment owed by the borrower if the loan originates.
34,int_rate,Interest Rate on the loan
35,issue_d,The month which the loan was funded
36,last_credit_pull_d,The most recent month LC pulled credit for this loan
37,last_fico_range_high,The upper boundary range the borrower’s last FICO pulled belongs to.
38,last_fico_range_low,The lower boundary range the borrower’s last FICO pulled belongs to.
39,last_pymnt_amnt,Last total payment amount received
40,last_pymnt_d,Last month payment was received
41,loan_amnt,"The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value."
42,loan_status,Current status of the loan
43,max_bal_bc,Maximum current balance owed on all revolving accounts
44,member_id,A unique LC assigned Id for the borrower member.
45,mo_sin_old_il_acct,Months since oldest bank installment account opened
46,mo_sin_old_rev_tl_op,Months since oldest revolving account opened
47,mo_sin_rcnt_rev_tl_op,Months since most recent revolving account opened
48,mo_sin_rcnt_tl,Months since most recent account opened
49,mort_acc,Number of mortgage accounts.
50,mths_since_last_delinq,The number of months since the borrower's last delinquency.
51,mths_since_last_major_derog,Months since most recent 90-day or worse rating
52,mths_since_last_record,The number of months since the last public record.
53,mths_since_rcnt_il,Months since most recent installment accounts opened
54,mths_since_recent_bc,Months since most recent bankcard account opened.
55,mths_since_recent_bc_dlq,Months since most recent bankcard delinquency
56,mths_since_recent_inq,Months since most recent inquiry.
57,mths_since_recent_revol_delinq,Months since most recent revolving delinquency.
58,next_pymnt_d,Next scheduled payment date
59,num_accts_ever_120_pd,Number of accounts ever 120 or more days past due
60,num_actv_bc_tl,Number of currently active bankcard accounts
61,num_actv_rev_tl,Number of currently active revolving trades
62,num_bc_sats,Number of satisfactory bankcard accounts
63,num_bc_tl,Number of bankcard accounts
64,num_il_tl,Number of installment accounts
65,num_op_rev_tl,Number of open revolving accounts
66,num_rev_accts,Number of revolving accounts
67,num_rev_tl_bal_gt_0,Number of revolving trades with balance >0
68,num_sats,Number of satisfactory accounts
69,num_tl_120dpd_2m,Number of accounts currently 120 days past due (updated in past 2 months)
70,num_tl_30dpd,Number of accounts currently 30 days past due (updated in past 2 months)
71,num_tl_90g_dpd_24m,Number of accounts 90 or more days past due in last 24 months
72,num_tl_op_past_12m,Number of accounts opened in past 12 months
73,open_acc,The number of open credit lines in the borrower's credit file.
74,open_acc_6m,Number of open trades in last 6 months
75,open_il_12m,Number of installment accounts opened in past 12 months
76,open_il_24m,Number of installment accounts opened in past 24 months
77,open_il_6m,Number of currently active installment trades
78,open_rv_12m,Number of revolving trades opened in past 12 months
79,open_rv_24m,Number of revolving trades opened in past 24 months
80,out_prncp,Remaining outstanding principal for total amount funded
81,out_prncp_inv,Remaining outstanding principal for portion of total amount funded by investors
82,pct_tl_nvr_dlq,Percent of trades never delinquent
83,percent_bc_gt_75,Percentage of all bankcard accounts > 75% of limit.
84,policy_code,publicly available policy_code=1\nnew products not publicly available policy_code=2
85,pub_rec,Number of derogatory public records
86,pub_rec_bankruptcies,Number of public record bankruptcies
87,purpose,A category provided by the borrower for the loan request.
88,pymnt_plan,Indicates if a payment plan has been put in place for the loan
89,recoveries,post charge off gross recovery
90,revol_bal,Total credit revolving balance
91,revol_util,"Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit."
92,sub_grade,LC assigned loan subgrade
93,tax_liens,Number of tax liens
94,term,The number of payments on the loan. Values are in months and can be either 36 or 60.
95,title,The loan title provided by the borrower
96,tot_coll_amt,Total collection amounts ever owed
97,tot_cur_bal,Total current balance of all accounts
98,tot_hi_cred_lim,Total high credit/credit limit
99,total_acc,The total number of credit lines currently in the borrower's credit file
100,total_bal_ex_mort,Total credit balance excluding mortgage
101,total_bal_il,Total current balance of all installment accounts
102,total_bc_limit,Total bankcard high credit/credit limit
103,total_cu_tl,Number of finance trades
104,total_il_high_credit_limit,Total installment high credit/credit limit
105,total_pymnt,Payments received to date for total amount funded
106,total_pymnt_inv,Payments received to date for portion of total amount funded by investors
107,total_rec_int,Interest received to date
108,total_rec_late_fee,Late fees received to date
109,total_rec_prncp,Principal received to date
110,total_rev_hi_lim,Total revolving high credit/credit limit
111,url,URL for the LC page with listing data.
112,verification_status,"Indicates if income was verified by LC, not verified, or if the income source was verified"
113,verified_status_joint,"Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified"
114,zip_code,The first 3 numbers of the zip code provided by the borrower in the loan application.
115,NaN,NaN
116,NaN,* Employer Title replaces Employer Name for all loans listed after 9/23/2013

### Cleaning lending_club_loans dataset

In [12]:
#Reading in the data for lending_club_loans
lending_club_loans = pd.read_csv("../raw_data/lending_club_loans.csv", low_memory = False)

In [13]:
lending_club_loans

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_title,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501.0,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B2,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430.0,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C4,Ryder,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175.0,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C5,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863.0,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C1,AIR RESOURCES BOARD,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358.0,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B5,University Medical Group,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,72176.0,70868.0,2525.0,2525.0,225.0,36 months,9.33%,80.69,B3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42534,71623.0,70735.0,6500.0,6500.0,0.0,36 months,8.38%,204.84,A5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42535,70686.0,70681.0,5000.0,5000.0,0.0,36 months,7.75%,156.11,A3,Homemaker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
lending_club_loans.shape

(42538, 114)

42538 rows and 114 columns. There are quite a few columns which will be irrelevant in predicting loan defaults so these will be removed.

In [15]:
#Taking a look at all variable names
lending_club_loans.iloc[0]

id                                                                                                  1.0775e+06
member_id                                                                                           1.2966e+06
loan_amnt                                                                                                 5000
funded_amnt                                                                                               5000
funded_amnt_inv                                                                                           4975
term                                                                                                 36 months
int_rate                                                                                                10.65%
installment                                                                                             162.87
sub_grade                                                                                                   B2
emp_title                                                                                                  NaN
emp_length                                                                                           10+ years
home_ownership                                                                                            RENT
annual_inc                                                                                               24000
verification_status                                                                                   Verified
issue_d                                                                                               Dec-2011
loan_status                                                                                         Fully Paid
pymnt_plan                                                                                                   n
url                                           https://lendingclub.com/browse/loanDetail.action?loan_id=1077501
desc                              Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>
purpose                                                                                            credit_card
title                                                                                                 Computer
zip_code                                                                                                 860xx
addr_state                                                                                                  AZ
dti                                                                                                      27.65
delinq_2yrs                                                                                                  0
earliest_cr_line                                                                                      Jan-1985
fico_range_low                                                                                             735
fico_range_high                                                                                            739
inq_last_6mths                                                                                               1
mths_since_last_delinq                                                                                     NaN
mths_since_last_record                                                                                     NaN
open_acc                                                                                                     3
pub_rec                                                                                                      0
revol_bal                                                                                                13648
revol_util                                                                                               83.7%
total_acc                                                                                                    9
initial_list_status                                                                                      False
out_prncp                                                                                                    0
out_prncp_inv                                                                                                0
total_pymnt                                                                                            5863.16
total_pymnt_inv                                                                                        5833.84
total_rec_prncp                                                                                           5000
total_rec_int                                                                                           863.16
total_rec_late_fee                                                                                           0
recoveries                                                                                                   0
collection_recovery_fee                                                                                      0
last_pymnt_d                                                                                          Jan-2015
last_pymnt_amnt                                                                                         171.62
next_pymnt_d                                                                                               NaN
last_credit_pull_d                                                                                    Sep-2016
last_fico_range_high                                                                                       744
last_fico_range_low                                                                                        740
collections_12_mths_ex_med                                                                                   0
mths_since_last_major_derog                                                                                NaN
policy_code                                                                                                  1
application_type                                                                                    INDIVIDUAL
annual_inc_joint                                                                                           NaN
dti_joint                                                                                                  NaN
verification_status_joint                                                                                  NaN
acc_now_delinq                                                                                               0
tot_coll_amt                                                                                               NaN
tot_cur_bal                                                                                                NaN
open_acc_6m                                                                                                NaN
open_il_6m                                                                                                 NaN
open_il_12m                                                                                                NaN
open_il_24m                                                                                                NaN
mths_since_rcnt_il                                                                                         NaN
total_bal_il                                                                                               NaN
il_util                                                                                                    NaN
open_rv_12m                                                                                                NaN
open_rv_24m                                                                                                NaN
max_bal_bc                                                                                                 NaN
all_util                                                                                                   NaN
total_rev_hi_lim                                                                                           NaN
inq_fi                                                                                                     NaN
total_cu_tl                                                                                                NaN
inq_last_12m                                                                                               NaN
acc_open_past_24mths                                                                                       NaN
avg_cur_bal                                                                                                NaN
bc_open_to_buy                                                                                             NaN
bc_util                                                                                                    NaN
chargeoff_within_12_mths                                                                                     0
delinq_amnt                                                                                                  0
mo_sin_old_il_acct                                                                                         NaN
mo_sin_old_rev_tl_op                                                                                       NaN
mo_sin_rcnt_rev_tl_op                                                                                      NaN
mo_sin_rcnt_tl                                                                                             NaN
mort_acc                                                                                                   NaN
mths_since_recent_bc                                                                                       NaN
mths_since_recent_bc_dlq                                                                                   NaN
mths_since_recent_inq                                                                                      NaN
mths_since_recent_revol_delinq                                                                             NaN
num_accts_ever_120_pd                                                                                      NaN
num_actv_bc_tl                                                                                             NaN
num_actv_rev_tl                                                                                            NaN
num_bc_sats                                                                                                NaN
num_bc_tl                                                                                                  NaN
num_il_tl                                                                                                  NaN
num_op_rev_tl                                                                                              NaN
num_rev_accts                                                                                              NaN
num_rev_tl_bal_gt_0                                                                                        NaN
num_sats                                                                                                   NaN
num_tl_120dpd_2m                                                                                           NaN
num_tl_30dpd                                                                                               NaN
num_tl_90g_dpd_24m                                                                                         NaN
num_tl_op_past_12m                                                                                         NaN
pct_tl_nvr_dlq                                                                                             NaN
percent_bc_gt_75                                                                                           NaN
pub_rec_bankruptcies                                                                                         0
tax_liens                                                                                                    0
tot_hi_cred_lim                                                                                            NaN
total_bal_ex_mort                                                                                          NaN
total_bc_limit                                                                                             NaN
total_il_high_credit_limit                                                                                 NaN
Name: 0, dtype: object

To begin with, I will remove the following columns:- zip_code, id, member_id, url, emp_title, issue_d & description.

In [16]:
loans_clean = lending_club_loans.drop(["id", "member_id", "zip_code", "url", 
                                       "emp_title", "issue_d", "desc"], axis = 1).copy()
loans_clean

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B2,10+ years,RENT,24000.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C4,< 1 year,RENT,30000.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C5,10+ years,RENT,12252.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C1,10+ years,RENT,49200.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B5,1 year,RENT,80000.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,2525.0,2525.0,225.0,36 months,9.33%,80.69,B3,< 1 year,RENT,110000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42534,6500.0,6500.0,0.0,36 months,8.38%,204.84,A5,< 1 year,NONE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42535,5000.0,5000.0,0.0,36 months,7.75%,156.11,A3,10+ years,MORTGAGE,70000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now taking a look at columns with missing values

In [17]:
loans_clean.isna().sum()

loan_amnt                             3
funded_amnt                           3
funded_amnt_inv                       3
term                                  3
int_rate                              3
installment                           3
sub_grade                             3
emp_length                         1115
home_ownership                        3
annual_inc                            7
verification_status                   3
loan_status                           3
pymnt_plan                            3
purpose                               3
title                                16
addr_state                            3
dti                                   3
delinq_2yrs                          32
earliest_cr_line                     32
fico_range_low                        3
fico_range_high                       3
inq_last_6mths                       32
mths_since_last_delinq            26929
mths_since_last_record            38887
open_acc                             32
pub_rec                              32
revol_bal                             3
revol_util                           93
total_acc                            32
initial_list_status                   3
out_prncp                             3
out_prncp_inv                         3
total_pymnt                           3
total_pymnt_inv                       3
total_rec_prncp                       3
total_rec_int                         3
total_rec_late_fee                    3
recoveries                            3
collection_recovery_fee               3
last_pymnt_d                         86
last_pymnt_amnt                       3
next_pymnt_d                      39242
last_credit_pull_d                    7
last_fico_range_high                  3
last_fico_range_low                   3
collections_12_mths_ex_med          148
mths_since_last_major_derog       42538
policy_code                           3
application_type                      3
annual_inc_joint                  42538
dti_joint                         42538
verification_status_joint         42538
acc_now_delinq                       32
tot_coll_amt                      42538
tot_cur_bal                       42538
open_acc_6m                       42538
open_il_6m                        42538
open_il_12m                       42538
open_il_24m                       42538
mths_since_rcnt_il                42538
total_bal_il                      42538
il_util                           42538
open_rv_12m                       42538
open_rv_24m                       42538
max_bal_bc                        42538
all_util                          42538
total_rev_hi_lim                  42538
inq_fi                            42538
total_cu_tl                       42538
inq_last_12m                      42538
acc_open_past_24mths              42538
avg_cur_bal                       42538
bc_open_to_buy                    42538
bc_util                           42538
chargeoff_within_12_mths            148
delinq_amnt                          32
mo_sin_old_il_acct                42538
mo_sin_old_rev_tl_op              42538
mo_sin_rcnt_rev_tl_op             42538
mo_sin_rcnt_tl                    42538
mort_acc                          42538
mths_since_recent_bc              42538
mths_since_recent_bc_dlq          42538
mths_since_recent_inq             42538
mths_since_recent_revol_delinq    42538
num_accts_ever_120_pd             42538
num_actv_bc_tl                    42538
num_actv_rev_tl                   42538
num_bc_sats                       42538
num_bc_tl                         42538
num_il_tl                         42538
num_op_rev_tl                     42538
num_rev_accts                     42538
num_rev_tl_bal_gt_0               42538
num_sats                          42538
num_tl_120dpd_2m                  42538
num_tl_30dpd                      42538
num_tl_90g_dpd_24m                42538
num_tl_op_past_12m                42538
pct_tl_nvr_dlq                    42538
percent_bc_gt_75                  42538
pub_rec_bankruptcies               1368
tax_liens                           108
tot_hi_cred_lim                   42538
total_bal_ex_mort                 42538
total_bc_limit                    42538
total_il_high_credit_limit        42538
dtype: int64

There are numerous columns full of missing values which should be removed.

In [18]:
loans_clean = loans_clean.dropna(axis = "columns", how = "all")
loans_clean

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,...,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B2,10+ years,RENT,24000.0,...,744.0,740.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C4,< 1 year,RENT,30000.0,...,499.0,0.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C5,10+ years,RENT,12252.0,...,719.0,715.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C1,10+ years,RENT,49200.0,...,604.0,600.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B5,1 year,RENT,80000.0,...,694.0,690.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,2525.0,2525.0,225.0,36 months,9.33%,80.69,B3,< 1 year,RENT,110000.0,...,714.0,710.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42534,6500.0,6500.0,0.0,36 months,8.38%,204.84,A5,< 1 year,NONE,NaN,...,724.0,720.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42535,5000.0,5000.0,0.0,36 months,7.75%,156.11,A3,10+ years,MORTGAGE,70000.0,...,794.0,790.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
loans_clean.iloc[0]

loan_amnt                            5000
funded_amnt                          5000
funded_amnt_inv                      4975
term                            36 months
int_rate                           10.65%
installment                        162.87
sub_grade                              B2
emp_length                      10+ years
home_ownership                       RENT
annual_inc                          24000
verification_status              Verified
loan_status                    Fully Paid
pymnt_plan                              n
purpose                       credit_card
title                            Computer
addr_state                             AZ
dti                                 27.65
delinq_2yrs                             0
earliest_cr_line                 Jan-1985
fico_range_low                        735
fico_range_high                       739
inq_last_6mths                          1
mths_since_last_delinq                NaN
mths_since_last_record                NaN
open_acc                                3
pub_rec                                 0
revol_bal                           13648
revol_util                          83.7%
total_acc                               9
initial_list_status                 False
out_prncp                               0
out_prncp_inv                           0
total_pymnt                       5863.16
total_pymnt_inv                   5833.84
total_rec_prncp                      5000
total_rec_int                      863.16
total_rec_late_fee                      0
recoveries                              0
collection_recovery_fee                 0
last_pymnt_d                     Jan-2015
last_pymnt_amnt                    171.62
next_pymnt_d                          NaN
last_credit_pull_d               Sep-2016
last_fico_range_high                  744
last_fico_range_low                   740
collections_12_mths_ex_med              0
policy_code                             1
application_type               INDIVIDUAL
acc_now_delinq                          0
chargeoff_within_12_mths                0
delinq_amnt                             0
pub_rec_bankruptcies                    0
tax_liens                               0
Name: 0, dtype: object

In [20]:
loans_clean.shape

(42538, 53)

There are still quite a few columns which will be irrelevant in predicting loan defaults so these also need to be removed.  

mths_since_last_record, mths_since_last_delinq and next_pymnt_d also have thousands of missing values and are not relevant to prodicting defaults so will be removed.

The following variables do not give insight into predicting defaults and are also being removed:
funded_amnt, funded_amnt_inv, int_rate, pymnt_plan, last_fico_range_low, last_fico_range_high, collections_12_mths_ex_med, policy_code, acc_now_delinq, delinq_amnt.

In [21]:
loans_clean = loans_clean.drop(["mths_since_last_record", "mths_since_last_delinq", "next_pymnt_d", 
                                "funded_amnt", "funded_amnt_inv", "int_rate", "pymnt_plan", 
                                "mths_since_last_delinq", "collections_12_mths_ex_med", 
                                "policy_code", "acc_now_delinq", "delinq_amnt", "last_fico_range_low", "last_fico_range_high"], 
                               axis = 1)
loans_clean

,loan_amnt,term,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,application_type,chargeoff_within_12_mths,pub_rec_bankruptcies,tax_liens
0,5000.0,36 months,162.87,B2,10+ years,RENT,24000.0,Verified,Fully Paid,credit_card,...,0.00,0.00,0.00,Jan-2015,171.62,Sep-2016,INDIVIDUAL,0.0,0.0,0.0
1,2500.0,60 months,59.83,C4,< 1 year,RENT,30000.0,Source Verified,Charged Off,car,...,0.00,117.08,1.11,Apr-2013,119.66,Sep-2016,INDIVIDUAL,0.0,0.0,0.0
2,2400.0,36 months,84.33,C5,10+ years,RENT,12252.0,Not Verified,Fully Paid,small_business,...,0.00,0.00,0.00,Jun-2014,649.91,Sep-2016,INDIVIDUAL,0.0,0.0,0.0
3,10000.0,36 months,339.31,C1,10+ years,RENT,49200.0,Source Verified,Fully Paid,other,...,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,INDIVIDUAL,0.0,0.0,0.0
4,3000.0,60 months,67.79,B5,1 year,RENT,80000.0,Source Verified,Current,other,...,0.00,0.00,0.00,Sep-2016,67.79,Sep-2016,INDIVIDUAL,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,2525.0,36 months,80.69,B3,< 1 year,RENT,110000.0,Not Verified,Does not meet the credit policy. Status:Fully Paid,other,...,0.00,0.00,0.00,Jun-2010,82.03,May-2007,INDIVIDUAL,NaN,NaN,NaN
42534,6500.0,36 months,204.84,A5,< 1 year,NONE,NaN,Not Verified,Does not meet the credit policy. Status:Fully Paid,other,...,0.00,0.00,0.00,Jun-2010,205.32,Aug-2007,INDIVIDUAL,NaN,NaN,NaN
42535,5000.0,36 months,156.11,A3,10+ years,MORTGAGE,70000.0,Not Verified,Does not meet the credit policy. Status:Fully Paid,other,...,0.00,0.00,0.00,Jun-2010,156.39,Feb-2015,INDIVIDUAL,NaN,NaN,NaN
42536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
loans_clean.isna().sum()

loan_amnt                      3
term                           3
installment                    3
sub_grade                      3
emp_length                  1115
home_ownership                 3
annual_inc                     7
verification_status            3
loan_status                    3
purpose                        3
title                         16
addr_state                     3
dti                            3
delinq_2yrs                   32
earliest_cr_line              32
fico_range_low                 3
fico_range_high                3
inq_last_6mths                32
open_acc                      32
pub_rec                       32
revol_bal                      3
revol_util                    93
total_acc                     32
initial_list_status            3
out_prncp                      3
out_prncp_inv                  3
total_pymnt                    3
total_pymnt_inv                3
total_rec_prncp                3
total_rec_int                  3
total_rec_late_fee             3
recoveries                     3
collection_recovery_fee        3
last_pymnt_d                  86
last_pymnt_amnt                3
last_credit_pull_d             7
application_type               3
chargeoff_within_12_mths     148
pub_rec_bankruptcies        1368
tax_liens                    108
dtype: int64

In [23]:
loans_clean.shape

(42538, 40)

In [24]:
#Removing further variables which are irrelevant
loans_clean = loans_clean.drop(["tax_liens", "title", "delinq_2yrs", "inq_last_6mths", "pub_rec", 
                                "pub_rec_bankruptcies", "revol_bal", "revol_util", 
                                "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
                                "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
                                "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt",
                                "last_credit_pull_d", "chargeoff_within_12_mths"], axis = 1)
loans_clean

,loan_amnt,term,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,addr_state,dti,earliest_cr_line,fico_range_low,fico_range_high,open_acc,total_acc,application_type
0,5000.0,36 months,162.87,B2,10+ years,RENT,24000.0,Verified,Fully Paid,credit_card,AZ,27.65,Jan-1985,735.0,739.0,3.0,9.0,INDIVIDUAL
1,2500.0,60 months,59.83,C4,< 1 year,RENT,30000.0,Source Verified,Charged Off,car,GA,1.00,Apr-1999,740.0,744.0,3.0,4.0,INDIVIDUAL
2,2400.0,36 months,84.33,C5,10+ years,RENT,12252.0,Not Verified,Fully Paid,small_business,IL,8.72,Nov-2001,735.0,739.0,2.0,10.0,INDIVIDUAL
3,10000.0,36 months,339.31,C1,10+ years,RENT,49200.0,Source Verified,Fully Paid,other,CA,20.00,Feb-1996,690.0,694.0,10.0,37.0,INDIVIDUAL
4,3000.0,60 months,67.79,B5,1 year,RENT,80000.0,Source Verified,Current,other,OR,17.94,Jan-1996,695.0,699.0,15.0,38.0,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,2525.0,36 months,80.69,B3,< 1 year,RENT,110000.0,Not Verified,Does not meet the credit policy. Status:Fully Paid,other,NY,10.00,NaN,710.0,714.0,NaN,NaN,INDIVIDUAL
42534,6500.0,36 months,204.84,A5,< 1 year,NONE,NaN,Not Verified,Does not meet the credit policy. Status:Fully Paid,other,NY,4.00,NaN,740.0,744.0,NaN,NaN,INDIVIDUAL
42535,5000.0,36 months,156.11,A3,10+ years,MORTGAGE,70000.0,Not Verified,Does not meet the credit policy. Status:Fully Paid,other,CT,8.81,NaN,770.0,774.0,NaN,NaN,INDIVIDUAL
42536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN