In [1]:
import pandas as pd
import numpy as np
from datetime import date

# Cleaning grades_info Dataset

In [2]:
#Reading in the data for grades
grade_info = pd.read_csv("../raw_data/grade_info.csv")

In [3]:
grade_info.head(20)

   grade sub_grade
0      B        B2
1      C        C4
2      C        C5
3      C        C1
4      B        B5
5      A        A4
6      E        E1
7      F        F2
8      C        C3
9      B        B1
10     D        D1
11     A        A1
12     B        B3
13     B        B4
14     C        C2
15     D        D2
16     A        A3
17     A        A5
18     D        D5
19     A        A2

In [4]:
#Getting dimensions
grade_info.shape

(36, 2)

In [5]:
#checking for missing values
grade_info.isna().sum()

grade        1
sub_grade    1
dtype: int64

In [6]:
grade_info.tail()

   grade sub_grade
31     G        G2
32     G        G1
33     F        F5
34     G        G5
35   NaN       NaN

In [7]:
grade_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   grade      35 non-null     object
 1   sub_grade  35 non-null     object
dtypes: object(2)
memory usage: 704.0+ bytes

Removing the last row with missing values and saving as a new dataframe "grades_clean"

In [8]:
grades_clean = grade_info.drop([35]).copy()
grades_clean

   grade sub_grade
0      B        B2
1      C        C4
2      C        C5
3      C        C1
4      B        B5
5      A        A4
6      E        E1
7      F        F2
8      C        C3
9      B        B1
10     D        D1
11     A        A1
12     B        B3
13     B        B4
14     C        C2
15     D        D2
16     A        A3
17     A        A5
18     D        D5
19     A        A2
20     E        E4
21     D        D3
22     D        D4
23     F        F3
24     E        E3
25     F        F4
26     F        F1
27     E        E5
28     G        G4
29     E        E2
30     G        G3
31     G        G2
32     G        G1
33     F        F5
34     G        G5

Writing grades_clean to csv and saving in clean_data files.

In [9]:
grades_clean.to_csv("../clean_data/grades_clean.csv")

### Reading in data dictionary.

In [10]:
data_dictionary = pd.read_csv("../raw_data/LCDataDictionary.csv")

Ensuring description column can be read in full.

In [11]:
pd.set_option("display.max_colwidth", None)
pd.set_option('display.max_rows', 120)

data_dictionary

,LoanStatNew,Description
0,acc_now_delinq,The number of accounts on which the borrower is now delinquent.
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan application
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by the borrower during registration.
5,annual_inc_joint,The combined self-reported annual income provided by the co-borrowers during registration
6,application_type,Indicates whether the loan is an individual application or a joint application with two co-borrowers
7,avg_cur_bal,Average current balance of all accounts
8,bc_open_to_buy,Total open to buy on revolving bankcards.
9,bc_util,Ratio of total current balance to high credit/credit limit for all bankcard accounts.
10,chargeoff_within_12_mths,Number of charge-offs within 12 months
11,collection_recovery_fee,post charge off collection fee
12,collections_12_mths_ex_med,Number of collections in 12 months excluding medical collections
13,delinq_2yrs,The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
14,delinq_amnt,The past-due amount owed for the accounts on which the borrower is now delinquent.
15,desc,Loan description provided by the borrower
16,dti,"A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income."
17,dti_joint,"A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income"
18,earliest_cr_line,The month the borrower's earliest reported credit line was opened
19,emp_length,Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
20,emp_title,The job title supplied by the Borrower when applying for the loan.*
21,fico_range_high,The upper boundary range the borrower’s FICO at loan origination belongs to.
22,fico_range_low,The lower boundary range the borrower’s FICO at loan origination belongs to.
23,funded_amnt,The total amount committed to that loan at that point in time.
24,funded_amnt_inv,The total amount committed by investors for that loan at that point in time.
25,grade,LC assigned loan grade
26,home_ownership,"The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER."
27,id,A unique LC assigned ID for the loan listing.
28,il_util,Ratio of total current balance to high credit/credit limit on all install acct
29,initial_list_status,"The initial listing status of the loan. Possible values are – W, F"
30,inq_fi,Number of personal finance inquiries
31,inq_last_12m,Number of credit inquiries in past 12 months
32,inq_last_6mths,The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
33,installment,The monthly payment owed by the borrower if the loan originates.
34,int_rate,Interest Rate on the loan
35,issue_d,The month which the loan was funded
36,last_credit_pull_d,The most recent month LC pulled credit for this loan
37,last_fico_range_high,The upper boundary range the borrower’s last FICO pulled belongs to.
38,last_fico_range_low,The lower boundary range the borrower’s last FICO pulled belongs to.
39,last_pymnt_amnt,Last total payment amount received
40,last_pymnt_d,Last month payment was received
41,loan_amnt,"The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value."
42,loan_status,Current status of the loan
43,max_bal_bc,Maximum current balance owed on all revolving accounts
44,member_id,A unique LC assigned Id for the borrower member.
45,mo_sin_old_il_acct,Months since oldest bank installment account opened
46,mo_sin_old_rev_tl_op,Months since oldest revolving account opened
47,mo_sin_rcnt_rev_tl_op,Months since most recent revolving account opened
48,mo_sin_rcnt_tl,Months since most recent account opened
49,mort_acc,Number of mortgage accounts.
50,mths_since_last_delinq,The number of months since the borrower's last delinquency.
51,mths_since_last_major_derog,Months since most recent 90-day or worse rating
52,mths_since_last_record,The number of months since the last public record.
53,mths_since_rcnt_il,Months since most recent installment accounts opened
54,mths_since_recent_bc,Months since most recent bankcard account opened.
55,mths_since_recent_bc_dlq,Months since most recent bankcard delinquency
56,mths_since_recent_inq,Months since most recent inquiry.
57,mths_since_recent_revol_delinq,Months since most recent revolving delinquency.
58,next_pymnt_d,Next scheduled payment date
59,num_accts_ever_120_pd,Number of accounts ever 120 or more days past due
60,num_actv_bc_tl,Number of currently active bankcard accounts
61,num_actv_rev_tl,Number of currently active revolving trades
62,num_bc_sats,Number of satisfactory bankcard accounts
63,num_bc_tl,Number of bankcard accounts
64,num_il_tl,Number of installment accounts
65,num_op_rev_tl,Number of open revolving accounts
66,num_rev_accts,Number of revolving accounts
67,num_rev_tl_bal_gt_0,Number of revolving trades with balance >0
68,num_sats,Number of satisfactory accounts
69,num_tl_120dpd_2m,Number of accounts currently 120 days past due (updated in past 2 months)
70,num_tl_30dpd,Number of accounts currently 30 days past due (updated in past 2 months)
71,num_tl_90g_dpd_24m,Number of accounts 90 or more days past due in last 24 months
72,num_tl_op_past_12m,Number of accounts opened in past 12 months
73,open_acc,The number of open credit lines in the borrower's credit file.
74,open_acc_6m,Number of open trades in last 6 months
75,open_il_12m,Number of installment accounts opened in past 12 months
76,open_il_24m,Number of installment accounts opened in past 24 months
77,open_il_6m,Number of currently active installment trades
78,open_rv_12m,Number of revolving trades opened in past 12 months
79,open_rv_24m,Number of revolving trades opened in past 24 months
80,out_prncp,Remaining outstanding principal for total amount funded
81,out_prncp_inv,Remaining outstanding principal for portion of total amount funded by investors
82,pct_tl_nvr_dlq,Percent of trades never delinquent
83,percent_bc_gt_75,Percentage of all bankcard accounts > 75% of limit.
84,policy_code,publicly available policy_code=1\nnew products not publicly available policy_code=2
85,pub_rec,Number of derogatory public records
86,pub_rec_bankruptcies,Number of public record bankruptcies
87,purpose,A category provided by the borrower for the loan request.
88,pymnt_plan,Indicates if a payment plan has been put in place for the loan
89,recoveries,post charge off gross recovery
90,revol_bal,Total credit revolving balance
91,revol_util,"Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit."
92,sub_grade,LC assigned loan subgrade
93,tax_liens,Number of tax liens
94,term,The number of payments on the loan. Values are in months and can be either 36 or 60.
95,title,The loan title provided by the borrower
96,tot_coll_amt,Total collection amounts ever owed
97,tot_cur_bal,Total current balance of all accounts
98,tot_hi_cred_lim,Total high credit/credit limit
99,total_acc,The total number of credit lines currently in the borrower's credit file
100,total_bal_ex_mort,Total credit balance excluding mortgage
101,total_bal_il,Total current balance of all installment accounts
102,total_bc_limit,Total bankcard high credit/credit limit
103,total_cu_tl,Number of finance trades
104,total_il_high_credit_limit,Total installment high credit/credit limit
105,total_pymnt,Payments received to date for total amount funded
106,total_pymnt_inv,Payments received to date for portion of total amount funded by investors
107,total_rec_int,Interest received to date
108,total_rec_late_fee,Late fees received to date
109,total_rec_prncp,Principal received to date
110,total_rev_hi_lim,Total revolving high credit/credit limit
111,url,URL for the LC page with listing data.
112,verification_status,"Indicates if income was verified by LC, not verified, or if the income source was verified"
113,verified_status_joint,"Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified"
114,zip_code,The first 3 numbers of the zip code provided by the borrower in the loan application.
115,NaN,NaN
116,NaN,* Employer Title replaces Employer Name for all loans listed after 9/23/2013

### Viewing States dataset

In [12]:
#Reading in states dataset
states = pd.read_csv("../raw_data/state_names_info.csv")
states

   state_abb      state_name
0         AL         Alabama
1         AK          Alaska
2         AZ         Arizona
3         AR        Arkansas
4         CA      California
5         CO        Colorado
6         CT     Connecticut
7         DE        Delaware
8         FL         Florida
9         GA         Georgia
10        HI          Hawaii
11        ID           Idaho
12        IL        Illinois
13        IN         Indiana
14        IA            Iowa
15        KS          Kansas
16        KY        Kentucky
17        LA       Louisiana
18        ME           Maine
19        MD        Maryland
20        MA   Massachusetts
21        MI        Michigan
22        MN       Minnesota
23        MS     Mississippi
24        MO        Missouri
25        MT         Montana
26        NE        Nebraska
27        NV          Nevada
28        NH   New Hampshire
29        NJ      New Jersey
30        NM      New Mexico
31        NY        New York
32        NC  North Carolina
33        ND    North Dakota
34        OH            Ohio
35        OK        Oklahoma
36        OR          Oregon
37        PA    Pennsylvania
38        RI    Rhode Island
39        SC  South Carolina
40        SD    South Dakota
41        TN       Tennessee
42        TX           Texas
43        UT            Utah
44        VT         Vermont
45        VA        Virginia
46        WA      Washington
47        WV   West Virginia
48        WI       Wisconsin
49        WY         Wyoming

# Cleaning lending_club_loans dataset

In [13]:
#Reading in the data for lending_club_loans
lending_club_loans = pd.read_csv("../raw_data/lending_club_loans.csv", low_memory = False)

In [14]:
lending_club_loans

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_title,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501.0,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B2,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430.0,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C4,Ryder,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175.0,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C5,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863.0,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C1,AIR RESOURCES BOARD,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358.0,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B5,University Medical Group,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,72176.0,70868.0,2525.0,2525.0,225.0,36 months,9.33%,80.69,B3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42534,71623.0,70735.0,6500.0,6500.0,0.0,36 months,8.38%,204.84,A5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42535,70686.0,70681.0,5000.0,5000.0,0.0,36 months,7.75%,156.11,A3,Homemaker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
lending_club_loans.shape

(42538, 114)

42538 rows and 114 columns. There are quite a few columns which will be irrelevant in predicting loan defaults so these will be removed.

In [16]:
#Taking a look at all variable names
lending_club_loans.iloc[0]

id                                                                                                  1.0775e+06
member_id                                                                                           1.2966e+06
loan_amnt                                                                                                 5000
funded_amnt                                                                                               5000
funded_amnt_inv                                                                                           4975
term                                                                                                 36 months
int_rate                                                                                                10.65%
installment                                                                                             162.87
sub_grade                                                                                                   B2
emp_title                                                                                                  NaN
emp_length                                                                                           10+ years
home_ownership                                                                                            RENT
annual_inc                                                                                               24000
verification_status                                                                                   Verified
issue_d                                                                                               Dec-2011
loan_status                                                                                         Fully Paid
pymnt_plan                                                                                                   n
url                                           https://lendingclub.com/browse/loanDetail.action?loan_id=1077501
desc                              Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>
purpose                                                                                            credit_card
title                                                                                                 Computer
zip_code                                                                                                 860xx
addr_state                                                                                                  AZ
dti                                                                                                      27.65
delinq_2yrs                                                                                                  0
earliest_cr_line                                                                                      Jan-1985
fico_range_low                                                                                             735
fico_range_high                                                                                            739
inq_last_6mths                                                                                               1
mths_since_last_delinq                                                                                     NaN
mths_since_last_record                                                                                     NaN
open_acc                                                                                                     3
pub_rec                                                                                                      0
revol_bal                                                                                                13648
revol_util                                                                                               83.7%
total_acc                                                                                                    9
initial_list_status                                                                                      False
out_prncp                                                                                                    0
out_prncp_inv                                                                                                0
total_pymnt                                                                                            5863.16
total_pymnt_inv                                                                                        5833.84
total_rec_prncp                                                                                           5000
total_rec_int                                                                                           863.16
total_rec_late_fee                                                                                           0
recoveries                                                                                                   0
collection_recovery_fee                                                                                      0
last_pymnt_d                                                                                          Jan-2015
last_pymnt_amnt                                                                                         171.62
next_pymnt_d                                                                                               NaN
last_credit_pull_d                                                                                    Sep-2016
last_fico_range_high                                                                                       744
last_fico_range_low                                                                                        740
collections_12_mths_ex_med                                                                                   0
mths_since_last_major_derog                                                                                NaN
policy_code                                                                                                  1
application_type                                                                                    INDIVIDUAL
annual_inc_joint                                                                                           NaN
dti_joint                                                                                                  NaN
verification_status_joint                                                                                  NaN
acc_now_delinq                                                                                               0
tot_coll_amt                                                                                               NaN
tot_cur_bal                                                                                                NaN
open_acc_6m                                                                                                NaN
open_il_6m                                                                                                 NaN
open_il_12m                                                                                                NaN
open_il_24m                                                                                                NaN
mths_since_rcnt_il                                                                                         NaN
total_bal_il                                                                                               NaN
il_util                                                                                                    NaN
open_rv_12m                                                                                                NaN
open_rv_24m                                                                                                NaN
max_bal_bc                                                                                                 NaN
all_util                                                                                                   NaN
total_rev_hi_lim                                                                                           NaN
inq_fi                                                                                                     NaN
total_cu_tl                                                                                                NaN
inq_last_12m                                                                                               NaN
acc_open_past_24mths                                                                                       NaN
avg_cur_bal                                                                                                NaN
bc_open_to_buy                                                                                             NaN
bc_util                                                                                                    NaN
chargeoff_within_12_mths                                                                                     0
delinq_amnt                                                                                                  0
mo_sin_old_il_acct                                                                                         NaN
mo_sin_old_rev_tl_op                                                                                       NaN
mo_sin_rcnt_rev_tl_op                                                                                      NaN
mo_sin_rcnt_tl                                                                                             NaN
mort_acc                                                                                                   NaN
mths_since_recent_bc                                                                                       NaN
mths_since_recent_bc_dlq                                                                                   NaN
mths_since_recent_inq                                                                                      NaN
mths_since_recent_revol_delinq                                                                             NaN
num_accts_ever_120_pd                                                                                      NaN
num_actv_bc_tl                                                                                             NaN
num_actv_rev_tl                                                                                            NaN
num_bc_sats                                                                                                NaN
num_bc_tl                                                                                                  NaN
num_il_tl                                                                                                  NaN
num_op_rev_tl                                                                                              NaN
num_rev_accts                                                                                              NaN
num_rev_tl_bal_gt_0                                                                                        NaN
num_sats                                                                                                   NaN
num_tl_120dpd_2m                                                                                           NaN
num_tl_30dpd                                                                                               NaN
num_tl_90g_dpd_24m                                                                                         NaN
num_tl_op_past_12m                                                                                         NaN
pct_tl_nvr_dlq                                                                                             NaN
percent_bc_gt_75                                                                                           NaN
pub_rec_bankruptcies                                                                                         0
tax_liens                                                                                                    0
tot_hi_cred_lim                                                                                            NaN
total_bal_ex_mort                                                                                          NaN
total_bc_limit                                                                                             NaN
total_il_high_credit_limit                                                                                 NaN
Name: 0, dtype: object

To begin with, I will remove the following columns:- zip_code, id, member_id, url, emp_title & description.

In [17]:
loans_clean = lending_club_loans.drop(["id", "member_id", "zip_code", "url", 
                                       "emp_title", "desc"], axis = 1).copy()
loans_clean

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B2,10+ years,RENT,24000.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C4,< 1 year,RENT,30000.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C5,10+ years,RENT,12252.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C1,10+ years,RENT,49200.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B5,1 year,RENT,80000.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,2525.0,2525.0,225.0,36 months,9.33%,80.69,B3,< 1 year,RENT,110000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42534,6500.0,6500.0,0.0,36 months,8.38%,204.84,A5,< 1 year,NONE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42535,5000.0,5000.0,0.0,36 months,7.75%,156.11,A3,10+ years,MORTGAGE,70000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
loans_clean.dtypes

loan_amnt                         float64
funded_amnt                       float64
funded_amnt_inv                   float64
term                               object
int_rate                           object
installment                       float64
sub_grade                          object
emp_length                         object
home_ownership                     object
annual_inc                        float64
verification_status                object
issue_d                            object
loan_status                        object
pymnt_plan                         object
purpose                            object
title                              object
addr_state                         object
dti                               float64
delinq_2yrs                       float64
earliest_cr_line                   object
fico_range_low                    float64
fico_range_high                   float64
inq_last_6mths                    float64
mths_since_last_delinq            float64
mths_since_last_record            float64
open_acc                          float64
pub_rec                           float64
revol_bal                         float64
revol_util                         object
total_acc                         float64
initial_list_status                object
out_prncp                         float64
out_prncp_inv                     float64
total_pymnt                       float64
total_pymnt_inv                   float64
total_rec_prncp                   float64
total_rec_int                     float64
total_rec_late_fee                float64
recoveries                        float64
collection_recovery_fee           float64
last_pymnt_d                       object
last_pymnt_amnt                   float64
next_pymnt_d                       object
last_credit_pull_d                 object
last_fico_range_high              float64
last_fico_range_low               float64
collections_12_mths_ex_med        float64
mths_since_last_major_derog       float64
policy_code                       float64
application_type                   object
annual_inc_joint                  float64
dti_joint                         float64
verification_status_joint         float64
acc_now_delinq                    float64
tot_coll_amt                      float64
tot_cur_bal                       float64
open_acc_6m                       float64
open_il_6m                        float64
open_il_12m                       float64
open_il_24m                       float64
mths_since_rcnt_il                float64
total_bal_il                      float64
il_util                           float64
open_rv_12m                       float64
open_rv_24m                       float64
max_bal_bc                        float64
all_util                          float64
total_rev_hi_lim                  float64
inq_fi                            float64
total_cu_tl                       float64
inq_last_12m                      float64
acc_open_past_24mths              float64
avg_cur_bal                       float64
bc_open_to_buy                    float64
bc_util                           float64
chargeoff_within_12_mths          float64
delinq_amnt                       float64
mo_sin_old_il_acct                float64
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
dtype: object

Now taking a look at columns with missing values

In [19]:
loans_clean.isna().sum()

loan_amnt                             3
funded_amnt                           3
funded_amnt_inv                       3
term                                  3
int_rate                              3
installment                           3
sub_grade                             3
emp_length                         1115
home_ownership                        3
annual_inc                            7
verification_status                   3
issue_d                               3
loan_status                           3
pymnt_plan                            3
purpose                               3
title                                16
addr_state                            3
dti                                   3
delinq_2yrs                          32
earliest_cr_line                     32
fico_range_low                        3
fico_range_high                       3
inq_last_6mths                       32
mths_since_last_delinq            26929
mths_since_last_record            38887
open_acc                             32
pub_rec                              32
revol_bal                             3
revol_util                           93
total_acc                            32
initial_list_status                   3
out_prncp                             3
out_prncp_inv                         3
total_pymnt                           3
total_pymnt_inv                       3
total_rec_prncp                       3
total_rec_int                         3
total_rec_late_fee                    3
recoveries                            3
collection_recovery_fee               3
last_pymnt_d                         86
last_pymnt_amnt                       3
next_pymnt_d                      39242
last_credit_pull_d                    7
last_fico_range_high                  3
last_fico_range_low                   3
collections_12_mths_ex_med          148
mths_since_last_major_derog       42538
policy_code                           3
application_type                      3
annual_inc_joint                  42538
dti_joint                         42538
verification_status_joint         42538
acc_now_delinq                       32
tot_coll_amt                      42538
tot_cur_bal                       42538
open_acc_6m                       42538
open_il_6m                        42538
open_il_12m                       42538
open_il_24m                       42538
mths_since_rcnt_il                42538
total_bal_il                      42538
il_util                           42538
open_rv_12m                       42538
open_rv_24m                       42538
max_bal_bc                        42538
all_util                          42538
total_rev_hi_lim                  42538
inq_fi                            42538
total_cu_tl                       42538
inq_last_12m                      42538
acc_open_past_24mths              42538
avg_cur_bal                       42538
bc_open_to_buy                    42538
bc_util                           42538
chargeoff_within_12_mths            148
delinq_amnt                          32
mo_sin_old_il_acct                42538
mo_sin_old_rev_tl_op              42538
mo_sin_rcnt_rev_tl_op             42538
mo_sin_rcnt_tl                    42538
mort_acc                          42538
mths_since_recent_bc              42538
mths_since_recent_bc_dlq          42538
mths_since_recent_inq             42538
mths_since_recent_revol_delinq    42538
num_accts_ever_120_pd             42538
num_actv_bc_tl                    42538
num_actv_rev_tl                   42538
num_bc_sats                       42538
num_bc_tl                         42538
num_il_tl                         42538
num_op_rev_tl                     42538
num_rev_accts                     42538
num_rev_tl_bal_gt_0               42538
num_sats                          42538
num_tl_120dpd_2m                  42538
num_tl_30dpd                      42538
num_tl_90g_dpd_24m                42538
num_tl_op_past_12m                42538
pct_tl_nvr_dlq                    42538
percent_bc_gt_75                  42538
pub_rec_bankruptcies               1368
tax_liens                           108
tot_hi_cred_lim                   42538
total_bal_ex_mort                 42538
total_bc_limit                    42538
total_il_high_credit_limit        42538
dtype: int64

There are numerous columns full of missing values which should be removed.

In [20]:
loans_clean = loans_clean.dropna(axis = "columns", how = "all")
loans_clean

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,...,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B2,10+ years,RENT,24000.0,...,744.0,740.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C4,< 1 year,RENT,30000.0,...,499.0,0.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C5,10+ years,RENT,12252.0,...,719.0,715.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C1,10+ years,RENT,49200.0,...,604.0,600.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B5,1 year,RENT,80000.0,...,694.0,690.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,2525.0,2525.0,225.0,36 months,9.33%,80.69,B3,< 1 year,RENT,110000.0,...,714.0,710.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42534,6500.0,6500.0,0.0,36 months,8.38%,204.84,A5,< 1 year,NONE,NaN,...,724.0,720.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42535,5000.0,5000.0,0.0,36 months,7.75%,156.11,A3,10+ years,MORTGAGE,70000.0,...,794.0,790.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are also rows which are full or missing values which should also be removed.

In [21]:
loans_clean = loans_clean.dropna(how = "all")
loans_clean

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,...,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B2,10+ years,RENT,24000.0,...,744.0,740.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C4,< 1 year,RENT,30000.0,...,499.0,0.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C5,10+ years,RENT,12252.0,...,719.0,715.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C1,10+ years,RENT,49200.0,...,604.0,600.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B5,1 year,RENT,80000.0,...,694.0,690.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42531,3500.0,3500.0,225.0,36 months,10.28%,113.39,C1,< 1 year,RENT,180000.0,...,819.0,815.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42532,1000.0,1000.0,0.0,36 months,9.64%,32.11,B4,< 1 year,RENT,12000.0,...,784.0,780.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42533,2525.0,2525.0,225.0,36 months,9.33%,80.69,B3,< 1 year,RENT,110000.0,...,714.0,710.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42534,6500.0,6500.0,0.0,36 months,8.38%,204.84,A5,< 1 year,NONE,NaN,...,724.0,720.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42535,5000.0,5000.0,0.0,36 months,7.75%,156.11,A3,10+ years,MORTGAGE,70000.0,...,794.0,790.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN

In [22]:
loans_clean.iloc[0]

loan_amnt                            5000
funded_amnt                          5000
funded_amnt_inv                      4975
term                            36 months
int_rate                           10.65%
installment                        162.87
sub_grade                              B2
emp_length                      10+ years
home_ownership                       RENT
annual_inc                          24000
verification_status              Verified
issue_d                          Dec-2011
loan_status                    Fully Paid
pymnt_plan                              n
purpose                       credit_card
title                            Computer
addr_state                             AZ
dti                                 27.65
delinq_2yrs                             0
earliest_cr_line                 Jan-1985
fico_range_low                        735
fico_range_high                       739
inq_last_6mths                          1
mths_since_last_delinq                NaN
mths_since_last_record                NaN
open_acc                                3
pub_rec                                 0
revol_bal                           13648
revol_util                          83.7%
total_acc                               9
initial_list_status                 False
out_prncp                               0
out_prncp_inv                           0
total_pymnt                       5863.16
total_pymnt_inv                   5833.84
total_rec_prncp                      5000
total_rec_int                      863.16
total_rec_late_fee                      0
recoveries                              0
collection_recovery_fee                 0
last_pymnt_d                     Jan-2015
last_pymnt_amnt                    171.62
next_pymnt_d                          NaN
last_credit_pull_d               Sep-2016
last_fico_range_high                  744
last_fico_range_low                   740
collections_12_mths_ex_med              0
policy_code                             1
application_type               INDIVIDUAL
acc_now_delinq                          0
chargeoff_within_12_mths                0
delinq_amnt                             0
pub_rec_bankruptcies                    0
tax_liens                               0
Name: 0, dtype: object

In [23]:
loans_clean.shape

(42535, 54)

There are still quite a few columns which will be irrelevant in predicting loan defaults so these also need to be removed.  

mths_since_last_record, mths_since_last_delinq and next_pymnt_d also have thousands of missing values and are not relevant to predicting defaults so will be removed.

The following variables do not give insight into predicting defaults and are also being removed:
funded_amnt, funded_amnt_inv, pymnt_plan, last_fico_range_low, last_fico_range_high, collections_12_mths_ex_med, policy_code, delinq_amnt.

In [24]:
loans_clean = loans_clean.drop(["mths_since_last_record", "mths_since_last_delinq", "next_pymnt_d", 
                                "funded_amnt", "funded_amnt_inv", "pymnt_plan", 
                                "mths_since_last_delinq", "collections_12_mths_ex_med", 
                                "policy_code", "delinq_amnt", "last_fico_range_low", "last_fico_range_high"], 
                               axis = 1)
loans_clean

,loan_amnt,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,application_type,acc_now_delinq,chargeoff_within_12_mths,pub_rec_bankruptcies,tax_liens
0,5000.0,36 months,10.65%,162.87,B2,10+ years,RENT,24000.0,Verified,Dec-2011,...,0.00,0.00,Jan-2015,171.62,Sep-2016,INDIVIDUAL,0.0,0.0,0.0,0.0
1,2500.0,60 months,15.27%,59.83,C4,< 1 year,RENT,30000.0,Source Verified,Dec-2011,...,117.08,1.11,Apr-2013,119.66,Sep-2016,INDIVIDUAL,0.0,0.0,0.0,0.0
2,2400.0,36 months,15.96%,84.33,C5,10+ years,RENT,12252.0,Not Verified,Dec-2011,...,0.00,0.00,Jun-2014,649.91,Sep-2016,INDIVIDUAL,0.0,0.0,0.0,0.0
3,10000.0,36 months,13.49%,339.31,C1,10+ years,RENT,49200.0,Source Verified,Dec-2011,...,0.00,0.00,Jan-2015,357.48,Apr-2016,INDIVIDUAL,0.0,0.0,0.0,0.0
4,3000.0,60 months,12.69%,67.79,B5,1 year,RENT,80000.0,Source Verified,Dec-2011,...,0.00,0.00,Sep-2016,67.79,Sep-2016,INDIVIDUAL,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42531,3500.0,36 months,10.28%,113.39,C1,< 1 year,RENT,180000.0,Not Verified,Jun-2007,...,0.00,0.00,Mar-2008,0.00,Feb-2013,INDIVIDUAL,NaN,NaN,NaN,NaN
42532,1000.0,36 months,9.64%,32.11,B4,< 1 year,RENT,12000.0,Not Verified,Jun-2007,...,0.00,0.00,Jun-2010,32.41,Sep-2014,INDIVIDUAL,NaN,NaN,NaN,NaN
42533,2525.0,36 months,9.33%,80.69,B3,< 1 year,RENT,110000.0,Not Verified,Jun-2007,...,0.00,0.00,Jun-2010,82.03,May-2007,INDIVIDUAL,NaN,NaN,NaN,NaN
42534,6500.0,36 months,8.38%,204.84,A5,< 1 year,NONE,NaN,Not Verified,Jun-2007,...,0.00,0.00,Jun-2010,205.32,Aug-2007,INDIVIDUAL,NaN,NaN,NaN,NaN
42535,5000.0,36 months,7.75%,156.11,A3,10+ years,MORTGAGE,70000.0,Not Verified,Jun-2007,...,0.00,0.00,Jun-2010,156.39,Feb-2015,INDIVIDUAL,NaN,NaN,NaN,NaN

In [25]:
loans_clean.isna().sum()

loan_amnt                      0
term                           0
int_rate                       0
installment                    0
sub_grade                      0
emp_length                  1112
home_ownership                 0
annual_inc                     4
verification_status            0
issue_d                        0
loan_status                    0
purpose                        0
title                         13
addr_state                     0
dti                            0
delinq_2yrs                   29
earliest_cr_line              29
fico_range_low                 0
fico_range_high                0
inq_last_6mths                29
open_acc                      29
pub_rec                       29
revol_bal                      0
revol_util                    90
total_acc                     29
initial_list_status            0
out_prncp                      0
out_prncp_inv                  0
total_pymnt                    0
total_pymnt_inv                0
total_rec_prncp                0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
last_pymnt_d                  83
last_pymnt_amnt                0
last_credit_pull_d             4
application_type               0
acc_now_delinq                29
chargeoff_within_12_mths     145
pub_rec_bankruptcies        1365
tax_liens                    105
dtype: int64

In [26]:
loans_clean.shape

(42535, 43)

In [27]:
#Removing further variables which are irrelevant in default prediction
loans_clean = loans_clean.drop(["tax_liens", "title", "inq_last_6mths", "pub_rec", 
                                "pub_rec_bankruptcies", "revol_bal", "revol_util", 
                                "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
                                "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
                                "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt",
                                "last_credit_pull_d", "chargeoff_within_12_mths"], axis = 1)
loans_clean

,loan_amnt,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,...,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,open_acc,total_acc,application_type,acc_now_delinq
0,5000.0,36 months,10.65%,162.87,B2,10+ years,RENT,24000.0,Verified,Dec-2011,...,AZ,27.65,0.0,Jan-1985,735.0,739.0,3.0,9.0,INDIVIDUAL,0.0
1,2500.0,60 months,15.27%,59.83,C4,< 1 year,RENT,30000.0,Source Verified,Dec-2011,...,GA,1.00,0.0,Apr-1999,740.0,744.0,3.0,4.0,INDIVIDUAL,0.0
2,2400.0,36 months,15.96%,84.33,C5,10+ years,RENT,12252.0,Not Verified,Dec-2011,...,IL,8.72,0.0,Nov-2001,735.0,739.0,2.0,10.0,INDIVIDUAL,0.0
3,10000.0,36 months,13.49%,339.31,C1,10+ years,RENT,49200.0,Source Verified,Dec-2011,...,CA,20.00,0.0,Feb-1996,690.0,694.0,10.0,37.0,INDIVIDUAL,0.0
4,3000.0,60 months,12.69%,67.79,B5,1 year,RENT,80000.0,Source Verified,Dec-2011,...,OR,17.94,0.0,Jan-1996,695.0,699.0,15.0,38.0,INDIVIDUAL,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42531,3500.0,36 months,10.28%,113.39,C1,< 1 year,RENT,180000.0,Not Verified,Jun-2007,...,NY,10.00,NaN,NaN,685.0,689.0,NaN,NaN,INDIVIDUAL,NaN
42532,1000.0,36 months,9.64%,32.11,B4,< 1 year,RENT,12000.0,Not Verified,Jun-2007,...,MA,10.00,NaN,NaN,695.0,699.0,NaN,NaN,INDIVIDUAL,NaN
42533,2525.0,36 months,9.33%,80.69,B3,< 1 year,RENT,110000.0,Not Verified,Jun-2007,...,NY,10.00,NaN,NaN,710.0,714.0,NaN,NaN,INDIVIDUAL,NaN
42534,6500.0,36 months,8.38%,204.84,A5,< 1 year,NONE,NaN,Not Verified,Jun-2007,...,NY,4.00,NaN,NaN,740.0,744.0,NaN,NaN,INDIVIDUAL,NaN
42535,5000.0,36 months,7.75%,156.11,A3,10+ years,MORTGAGE,70000.0,Not Verified,Jun-2007,...,CT,8.81,NaN,NaN,770.0,774.0,NaN,NaN,INDIVIDUAL,NaN

In [28]:
loans_clean.isna().sum()

loan_amnt                 0
term                      0
int_rate                  0
installment               0
sub_grade                 0
emp_length             1112
home_ownership            0
annual_inc                4
verification_status       0
issue_d                   0
loan_status               0
purpose                   0
addr_state                0
dti                       0
delinq_2yrs              29
earliest_cr_line         29
fico_range_low            0
fico_range_high           0
open_acc                 29
total_acc                29
application_type          0
acc_now_delinq           29
dtype: int64

### Missing Values

In [29]:
#Employment length has over 1000 missing values.
#Obtaining a list of values for this variable
loans_clean['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [30]:
loans_clean.dtypes

loan_amnt              float64
term                    object
int_rate                object
installment            float64
sub_grade               object
emp_length              object
home_ownership          object
annual_inc             float64
verification_status     object
issue_d                 object
loan_status             object
purpose                 object
addr_state              object
dti                    float64
delinq_2yrs            float64
earliest_cr_line        object
fico_range_low         float64
fico_range_high        float64
open_acc               float64
total_acc              float64
application_type        object
acc_now_delinq         float64
dtype: object

In [31]:
#Removing missing values in emp_length.
loans_clean = loans_clean.dropna(how = "any", subset = ["emp_length"])

Binning values in emp_length.

In [32]:
def emp_length_num (row):
    if row['emp_length'] in ["< 1 year", "1 year", ]:
        return '< 2 years'
    if row['emp_length'] in ["2 years", "3 years", "4 years"]:
        return '2 - 4 years'
    if row['emp_length'] in [ "5 years", "6 years", "7 years", "8 years", "9 years"]:
        return '5 - 9 years'
    return '10+ years'

loans_clean['emp_length'] = loans_clean.apply(lambda row: emp_length_num(row), axis=1)

loans_clean["emp_length"].value_counts()

<ipython-input-32-1bf02f197af0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_clean['emp_length'] = loans_clean.apply(lambda row: emp_length_num(row), axis=1)

2 - 4 years    12756
5 - 9 years    10641
10+ years       9369
< 2 years       8657
Name: emp_length, dtype: int64

In [33]:
#Verifying the employment length column has been changed
loans_clean['emp_length'].value_counts()

2 - 4 years    12756
5 - 9 years    10641
10+ years       9369
< 2 years       8657
Name: emp_length, dtype: int64

Removing the rows with missing values for the following columns:

* annual_inc
* earliest_cr_line
* open_acc
* total_acc

In [34]:
loans_clean = loans_clean.dropna(how = "any", subset = ["annual_inc",
                                                       "earliest_cr_line",
                                                       "open_acc",
                                                       "total_acc"])

In [35]:
loans_clean.isna().sum()

loan_amnt              0
term                   0
int_rate               0
installment            0
sub_grade              0
emp_length             0
home_ownership         0
annual_inc             0
verification_status    0
issue_d                0
loan_status            0
purpose                0
addr_state             0
dti                    0
delinq_2yrs            0
earliest_cr_line       0
fico_range_low         0
fico_range_high        0
open_acc               0
total_acc              0
application_type       0
acc_now_delinq         0
dtype: int64

# Joining all three datsets together

Firstly, joining loans dataset with states dataset to show state abbreviations as names.

In [36]:
loans_data_clean = pd.merge(loans_clean, states, left_on="addr_state", right_on="state_abb")
#removing the columns "add_state" and "state_abb" as these are now replaced with "state_name"
loans_data_clean = loans_data_clean.drop(["addr_state", "state_abb"], axis = 1)
loans_data_clean

,loan_amnt,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,...,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,open_acc,total_acc,application_type,acc_now_delinq,state_name
0,5000.0,36 months,10.65%,162.87,B2,10+ years,RENT,24000.0,Verified,Dec-2011,...,27.65,0.0,Jan-1985,735.0,739.0,3.0,9.0,INDIVIDUAL,0.0,Arizona
1,5000.0,36 months,7.90%,156.46,A4,2 - 4 years,RENT,36000.0,Source Verified,Dec-2011,...,11.20,0.0,Nov-2004,730.0,734.0,9.0,12.0,INDIVIDUAL,0.0,Arizona
2,6500.0,60 months,14.65%,153.45,C3,5 - 9 years,OWN,72000.0,Not Verified,Dec-2011,...,16.12,0.0,Jan-1998,695.0,699.0,14.0,23.0,INDIVIDUAL,0.0,Arizona
3,6000.0,36 months,12.42%,200.50,B4,< 2 years,RENT,36852.0,Source Verified,Dec-2011,...,10.62,0.0,Apr-2007,695.0,699.0,7.0,12.0,INDIVIDUAL,0.0,Arizona
4,12000.0,36 months,16.29%,423.61,D1,5 - 9 years,RENT,88365.0,Verified,Dec-2011,...,16.85,0.0,Oct-1996,680.0,684.0,6.0,15.0,INDIVIDUAL,0.0,Arizona
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41165,1000.0,36 months,12.49%,33.45,D3,< 2 years,RENT,32000.0,Not Verified,Jul-2007,...,5.21,4.0,Oct-2000,650.0,654.0,12.0,27.0,INDIVIDUAL,0.0,Indiana
41166,2600.0,36 months,14.38%,89.35,E4,10+ years,OWN,42000.0,Not Verified,Jul-2007,...,16.91,4.0,Apr-1992,640.0,644.0,14.0,28.0,INDIVIDUAL,0.0,Indiana
41167,3000.0,36 months,9.33%,95.87,B3,2 - 4 years,RENT,36600.0,Not Verified,Dec-2007,...,2.69,0.0,Feb-1995,695.0,699.0,4.0,5.0,INDIVIDUAL,0.0,Maine
41168,5000.0,36 months,10.59%,162.73,C2,< 2 years,RENT,15000.0,Not Verified,Oct-2007,...,24.40,0.0,Jan-1999,735.0,739.0,6.0,6.0,INDIVIDUAL,0.0,Maine
41169,1200.0,36 months,11.54%,39.60,C5,< 2 years,RENT,20000.0,Not Verified,Jul-2007,...,2.04,0.0,May-2004,660.0,664.0,3.0,4.0,INDIVIDUAL,0.0,Maine

Now joining loans_data with grades dataset.

In [37]:
loans_data_clean = pd.merge(loans_data_clean, grades_clean, how = "left")
loans_data_clean

,loan_amnt,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,...,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,open_acc,total_acc,application_type,acc_now_delinq,state_name,grade
0,5000.0,36 months,10.65%,162.87,B2,10+ years,RENT,24000.0,Verified,Dec-2011,...,0.0,Jan-1985,735.0,739.0,3.0,9.0,INDIVIDUAL,0.0,Arizona,B
1,5000.0,36 months,7.90%,156.46,A4,2 - 4 years,RENT,36000.0,Source Verified,Dec-2011,...,0.0,Nov-2004,730.0,734.0,9.0,12.0,INDIVIDUAL,0.0,Arizona,A
2,6500.0,60 months,14.65%,153.45,C3,5 - 9 years,OWN,72000.0,Not Verified,Dec-2011,...,0.0,Jan-1998,695.0,699.0,14.0,23.0,INDIVIDUAL,0.0,Arizona,C
3,6000.0,36 months,12.42%,200.50,B4,< 2 years,RENT,36852.0,Source Verified,Dec-2011,...,0.0,Apr-2007,695.0,699.0,7.0,12.0,INDIVIDUAL,0.0,Arizona,B
4,12000.0,36 months,16.29%,423.61,D1,5 - 9 years,RENT,88365.0,Verified,Dec-2011,...,0.0,Oct-1996,680.0,684.0,6.0,15.0,INDIVIDUAL,0.0,Arizona,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41165,1000.0,36 months,12.49%,33.45,D3,< 2 years,RENT,32000.0,Not Verified,Jul-2007,...,4.0,Oct-2000,650.0,654.0,12.0,27.0,INDIVIDUAL,0.0,Indiana,D
41166,2600.0,36 months,14.38%,89.35,E4,10+ years,OWN,42000.0,Not Verified,Jul-2007,...,4.0,Apr-1992,640.0,644.0,14.0,28.0,INDIVIDUAL,0.0,Indiana,E
41167,3000.0,36 months,9.33%,95.87,B3,2 - 4 years,RENT,36600.0,Not Verified,Dec-2007,...,0.0,Feb-1995,695.0,699.0,4.0,5.0,INDIVIDUAL,0.0,Maine,B
41168,5000.0,36 months,10.59%,162.73,C2,< 2 years,RENT,15000.0,Not Verified,Oct-2007,...,0.0,Jan-1999,735.0,739.0,6.0,6.0,INDIVIDUAL,0.0,Maine,C
41169,1200.0,36 months,11.54%,39.60,C5,< 2 years,RENT,20000.0,Not Verified,Jul-2007,...,0.0,May-2004,660.0,664.0,3.0,4.0,INDIVIDUAL,0.0,Maine,C

Removing the column "sub_grade" as this has now replaced with "grade"

In [38]:
loans_data_clean = loans_data_clean.drop(["sub_grade"], axis = 1)
loans_data_clean

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,...,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,open_acc,total_acc,application_type,acc_now_delinq,state_name,grade
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,...,0.0,Jan-1985,735.0,739.0,3.0,9.0,INDIVIDUAL,0.0,Arizona,B
1,5000.0,36 months,7.90%,156.46,2 - 4 years,RENT,36000.0,Source Verified,Dec-2011,Fully Paid,...,0.0,Nov-2004,730.0,734.0,9.0,12.0,INDIVIDUAL,0.0,Arizona,A
2,6500.0,60 months,14.65%,153.45,5 - 9 years,OWN,72000.0,Not Verified,Dec-2011,Fully Paid,...,0.0,Jan-1998,695.0,699.0,14.0,23.0,INDIVIDUAL,0.0,Arizona,C
3,6000.0,36 months,12.42%,200.50,< 2 years,RENT,36852.0,Source Verified,Dec-2011,Fully Paid,...,0.0,Apr-2007,695.0,699.0,7.0,12.0,INDIVIDUAL,0.0,Arizona,B
4,12000.0,36 months,16.29%,423.61,5 - 9 years,RENT,88365.0,Verified,Dec-2011,Fully Paid,...,0.0,Oct-1996,680.0,684.0,6.0,15.0,INDIVIDUAL,0.0,Arizona,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41165,1000.0,36 months,12.49%,33.45,< 2 years,RENT,32000.0,Not Verified,Jul-2007,Does not meet the credit policy. Status:Fully Paid,...,4.0,Oct-2000,650.0,654.0,12.0,27.0,INDIVIDUAL,0.0,Indiana,D
41166,2600.0,36 months,14.38%,89.35,10+ years,OWN,42000.0,Not Verified,Jul-2007,Does not meet the credit policy. Status:Charged Off,...,4.0,Apr-1992,640.0,644.0,14.0,28.0,INDIVIDUAL,0.0,Indiana,E
41167,3000.0,36 months,9.33%,95.87,2 - 4 years,RENT,36600.0,Not Verified,Dec-2007,Fully Paid,...,0.0,Feb-1995,695.0,699.0,4.0,5.0,INDIVIDUAL,0.0,Maine,B
41168,5000.0,36 months,10.59%,162.73,< 2 years,RENT,15000.0,Not Verified,Oct-2007,Fully Paid,...,0.0,Jan-1999,735.0,739.0,6.0,6.0,INDIVIDUAL,0.0,Maine,C
41169,1200.0,36 months,11.54%,39.60,< 2 years,RENT,20000.0,Not Verified,Jul-2007,Fully Paid,...,0.0,May-2004,660.0,664.0,3.0,4.0,INDIVIDUAL,0.0,Maine,C

# Target Variable - "loan_status"

Taking a closer look at the "loan_status" variable which will be the target variable used to predict defaults.

In [39]:
loans_data_clean['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off',
       'In Grace Period', 'Late (31-120 days)', 'Default'], dtype=object)

There are a list of 9 options under "loan_status", however whether a loan has been fully paid or charged off are the important values.

Taking a look at how many rows there are for each of the 9 options.

In [40]:
loans_data_clean['loan_status'].value_counts()

Fully Paid                                             32561
Charged Off                                             5408
Does not meet the credit policy. Status:Fully Paid      1935
Does not meet the credit policy. Status:Charged Off      741
Current                                                  493
In Grace Period                                           15
Late (31-120 days)                                        12
Late (16-30 days)                                          4
Default                                                    1
Name: loan_status, dtype: int64

There are applications which show "Does not meet the credit policy." This does not look great and should not be used in predicting future defaults. These rows will be removed.

In [41]:
loans_data_clean = loans_data_clean[-loans_data_clean["loan_status"].isin(["Does not meet the credit policy. Status:Fully Paid", "Does not meet the credit policy. Status:Charged Off"])]

In [42]:
loans_data_clean['loan_status'].value_counts()

Fully Paid            32561
Charged Off            5408
Current                 493
In Grace Period          15
Late (31-120 days)       12
Late (16-30 days)         4
Default                   1
Name: loan_status, dtype: int64

### Checking other Variables

In [43]:
loans_data_clean["home_ownership"].unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER', 'NONE'], dtype=object)

The home_ownership variable has values showing "other" and "none". The data dictionary shows that LendingClub only record the values "rent", "own", "mortgage" or "other" so I will remove rows which show "none".

In [44]:
loans_data_clean = loans_data_clean[-loans_data_clean["home_ownership"].str.contains("NONE")]
loans_data_clean["home_ownership"].unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER'], dtype=object)

In [45]:
loans_data_clean["verification_status"].unique()

array(['Verified', 'Source Verified', 'Not Verified'], dtype=object)

In [46]:
loans_data_clean["purpose"].unique()

array(['credit_card', 'wedding', 'debt_consolidation', 'other',
       'small_business', 'major_purchase', 'home_improvement', 'moving',
       'car', 'house', 'medical', 'vacation', 'renewable_energy',
       'educational'], dtype=object)

In [47]:
loans_data_clean["application_type"].unique()

array(['INDIVIDUAL'], dtype=object)

In [48]:
lending_club_loans["application_type"].unique()

array(['INDIVIDUAL', nan], dtype=object)

After comparing the "application_type" variable in the raw data and clean data, the application type is only either "individual" or "nan". It would appear that this column doesn't add much value so I will lose it.

In [49]:
loans_data_clean = loans_data_clean.drop(["application_type"], axis = 1)

In [50]:
loans_data_clean["issue_d"].unique()

array(['Dec-2011', 'Nov-2011', 'Oct-2011', 'Sep-2011', 'Aug-2011',
       'Jul-2011', 'Jun-2011', 'May-2011', 'Apr-2011', 'Mar-2011',
       'Feb-2011', 'Jan-2011', 'Dec-2010', 'Nov-2010', 'Oct-2010',
       'Sep-2010', 'Aug-2010', 'Jul-2010', 'Jun-2010', 'May-2010',
       'Apr-2010', 'Mar-2010', 'Feb-2010', 'Jan-2010', 'Dec-2009',
       'Nov-2009', 'Oct-2009', 'Sep-2009', 'Aug-2009', 'Jul-2009',
       'Jun-2009', 'May-2009', 'Apr-2009', 'Mar-2009', 'Feb-2009',
       'Jan-2009', 'Dec-2008', 'Nov-2008', 'Oct-2008', 'Sep-2008',
       'Aug-2008', 'Jul-2008', 'Jun-2008', 'May-2008', 'Apr-2008',
       'Mar-2008', 'Feb-2008', 'Jan-2008', 'Dec-2007', 'Nov-2007',
       'Oct-2007', 'Aug-2007', 'Jul-2007', 'Sep-2007', 'Jun-2007'],
      dtype=object)

In [52]:
loans_data_clean["acc_now_delinq"].unique()

array([0.])

The variable "acc_now_delinq" is full of 0 values so won't add any value in analysing the data so will also be removed.

In [53]:
loans_data_clean = loans_data_clean.drop(["acc_now_delinq"], axis = 1)
loans_data_clean

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,open_acc,total_acc,state_name,grade
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,credit_card,27.65,0.0,Jan-1985,735.0,739.0,3.0,9.0,Arizona,B
1,5000.0,36 months,7.90%,156.46,2 - 4 years,RENT,36000.0,Source Verified,Dec-2011,Fully Paid,wedding,11.20,0.0,Nov-2004,730.0,734.0,9.0,12.0,Arizona,A
2,6500.0,60 months,14.65%,153.45,5 - 9 years,OWN,72000.0,Not Verified,Dec-2011,Fully Paid,debt_consolidation,16.12,0.0,Jan-1998,695.0,699.0,14.0,23.0,Arizona,C
3,6000.0,36 months,12.42%,200.50,< 2 years,RENT,36852.0,Source Verified,Dec-2011,Fully Paid,debt_consolidation,10.62,0.0,Apr-2007,695.0,699.0,7.0,12.0,Arizona,B
4,12000.0,36 months,16.29%,423.61,5 - 9 years,RENT,88365.0,Verified,Dec-2011,Fully Paid,debt_consolidation,16.85,0.0,Oct-1996,680.0,684.0,6.0,15.0,Arizona,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41155,5100.0,36 months,8.38%,160.72,2 - 4 years,RENT,32000.0,Not Verified,Jul-2007,Fully Paid,vacation,14.78,0.0,Jun-1995,770.0,774.0,11.0,22.0,Indiana,A
41156,5300.0,36 months,8.38%,167.02,5 - 9 years,MORTGAGE,74000.0,Not Verified,Jul-2007,Fully Paid,credit_card,14.37,0.0,Feb-1992,795.0,799.0,15.0,29.0,Indiana,A
41167,3000.0,36 months,9.33%,95.87,2 - 4 years,RENT,36600.0,Not Verified,Dec-2007,Fully Paid,other,2.69,0.0,Feb-1995,695.0,699.0,4.0,5.0,Maine,B
41168,5000.0,36 months,10.59%,162.73,< 2 years,RENT,15000.0,Not Verified,Oct-2007,Fully Paid,other,24.40,0.0,Jan-1999,735.0,739.0,6.0,6.0,Maine,C
41169,1200.0,36 months,11.54%,39.60,< 2 years,RENT,20000.0,Not Verified,Jul-2007,Fully Paid,credit_card,2.04,0.0,May-2004,660.0,664.0,3.0,4.0,Maine,C

In [54]:
loans_data_clean["delinq_2yrs"].unique()

array([ 0.,  1.,  3.,  2.,  4.,  6., 11.,  5.,  7.,  8.,  9.])

Removing "%" from interest rate column

In [55]:
loans_data_clean['int_rate'] = loans_data_clean['int_rate'].str.replace('%', '')

In [56]:
loans_data_clean["term"].unique()

array(['36 months', '60 months'], dtype=object)

In [57]:
loans_data_clean["fico_range_high"].unique()

array([739., 734., 699., 684., 694., 679., 674., 689., 719., 794., 729.,
       709., 714., 669., 759., 774., 744., 754., 704., 724., 664., 784.,
       769., 749., 779., 799., 789., 764., 804., 809., 814., 819., 824.,
       829., 629., 634.])

In [58]:
loans_data_clean["fico_range_low"].unique()

array([735., 730., 695., 680., 690., 675., 670., 685., 715., 790., 725.,
       705., 710., 665., 755., 770., 740., 750., 700., 720., 660., 780.,
       765., 745., 775., 795., 785., 760., 800., 805., 810., 815., 820.,
       825., 625., 630.])

The variable "fico_range_low" is 4 points off the "fico_range_high" score. Will take the average of the two scores and hold in a new column.

In [59]:
loans_data_clean["fico_range"] = (loans_data_clean["fico_range_low"] + loans_data_clean["fico_range_high"])/2

In [60]:
loans_data_clean = loans_data_clean.drop(["fico_range_low", "fico_range_high"], axis = 1)
loans_data_clean

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,dti,delinq_2yrs,earliest_cr_line,open_acc,total_acc,state_name,grade,fico_range
0,5000.0,36 months,10.65,162.87,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,credit_card,27.65,0.0,Jan-1985,3.0,9.0,Arizona,B,737.0
1,5000.0,36 months,7.90,156.46,2 - 4 years,RENT,36000.0,Source Verified,Dec-2011,Fully Paid,wedding,11.20,0.0,Nov-2004,9.0,12.0,Arizona,A,732.0
2,6500.0,60 months,14.65,153.45,5 - 9 years,OWN,72000.0,Not Verified,Dec-2011,Fully Paid,debt_consolidation,16.12,0.0,Jan-1998,14.0,23.0,Arizona,C,697.0
3,6000.0,36 months,12.42,200.50,< 2 years,RENT,36852.0,Source Verified,Dec-2011,Fully Paid,debt_consolidation,10.62,0.0,Apr-2007,7.0,12.0,Arizona,B,697.0
4,12000.0,36 months,16.29,423.61,5 - 9 years,RENT,88365.0,Verified,Dec-2011,Fully Paid,debt_consolidation,16.85,0.0,Oct-1996,6.0,15.0,Arizona,D,682.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41155,5100.0,36 months,8.38,160.72,2 - 4 years,RENT,32000.0,Not Verified,Jul-2007,Fully Paid,vacation,14.78,0.0,Jun-1995,11.0,22.0,Indiana,A,772.0
41156,5300.0,36 months,8.38,167.02,5 - 9 years,MORTGAGE,74000.0,Not Verified,Jul-2007,Fully Paid,credit_card,14.37,0.0,Feb-1992,15.0,29.0,Indiana,A,797.0
41167,3000.0,36 months,9.33,95.87,2 - 4 years,RENT,36600.0,Not Verified,Dec-2007,Fully Paid,other,2.69,0.0,Feb-1995,4.0,5.0,Maine,B,697.0
41168,5000.0,36 months,10.59,162.73,< 2 years,RENT,15000.0,Not Verified,Oct-2007,Fully Paid,other,24.40,0.0,Jan-1999,6.0,6.0,Maine,C,737.0
41169,1200.0,36 months,11.54,39.60,< 2 years,RENT,20000.0,Not Verified,Jul-2007,Fully Paid,credit_card,2.04,0.0,May-2004,3.0,4.0,Maine,C,662.0

Changing the "fico_range" values to categorical.

In [61]:
bins = [0, 580, 670, 740, 800, np.inf]
names = ["Poor", "Fair", "Good", "Very Good", "Exceptional"]

loans_data_clean['credit_score'] = pd.cut(loans_data_clean['fico_range'], bins, labels=names)
loans_data_clean.head(50)

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,dti,delinq_2yrs,earliest_cr_line,open_acc,total_acc,state_name,grade,fico_range,credit_score
0,5000.0,36 months,10.65,162.87,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,credit_card,27.65,0.0,Jan-1985,3.0,9.0,Arizona,B,737.0,Good
1,5000.0,36 months,7.90,156.46,2 - 4 years,RENT,36000.0,Source Verified,Dec-2011,Fully Paid,wedding,11.20,0.0,Nov-2004,9.0,12.0,Arizona,A,732.0,Good
2,6500.0,60 months,14.65,153.45,5 - 9 years,OWN,72000.0,Not Verified,Dec-2011,Fully Paid,debt_consolidation,16.12,0.0,Jan-1998,14.0,23.0,Arizona,C,697.0,Good
3,6000.0,36 months,12.42,200.50,< 2 years,RENT,36852.0,Source Verified,Dec-2011,Fully Paid,debt_consolidation,10.62,0.0,Apr-2007,7.0,12.0,Arizona,B,697.0,Good
4,12000.0,36 months,16.29,423.61,5 - 9 years,RENT,88365.0,Verified,Dec-2011,Fully Paid,debt_consolidation,16.85,0.0,Oct-1996,6.0,15.0,Arizona,D,682.0,Good
5,6000.0,36 months,13.49,203.59,5 - 9 years,RENT,50000.0,Not Verified,Dec-2011,Fully Paid,debt_consolidation,15.38,0.0,Mar-2004,6.0,7.0,Arizona,C,692.0,Good
6,5600.0,36 months,14.65,193.17,< 2 years,MORTGAGE,85000.0,Not Verified,Dec-2011,Charged Off,debt_consolidation,12.24,1.0,May-1999,8.0,31.0,Arizona,C,677.0,Good
7,7400.0,36 months,13.49,251.09,< 2 years,OWN,25000.0,Source Verified,Dec-2011,Fully Paid,debt_consolidation,8.45,0.0,Mar-1990,5.0,13.0,Arizona,C,692.0,Good
8,24250.0,60 months,23.91,519.76,5 - 9 years,MORTGAGE,120000.0,Verified,Dec-2011,Fully Paid,debt_consolidation,12.96,0.0,Apr-2000,7.0,20.0,Arizona,G,672.0,Good
9,2500.0,36 months,11.71,82.69,5 - 9 years,MORTGAGE,29000.0,Verified,Dec-2011,Fully Paid,debt_consolidation,18.70,0.0,Sep-2005,5.0,13.0,Arizona,B,687.0,Good
10,12000.0,36 months,8.90,381.04,5 - 9 years,MORTGAGE,40246.0,Verified,Dec-2011,Fully Paid,credit_card,17.08,0.0,Aug-1999,7.0,24.0,Arizona,A,717.0,Good
11,18000.0,60 months,11.71,397.77,< 2 years,RENT,40000.0,Source Verified,Dec-2011,Charged Off,debt_consolidation,18.18,0.0,Dec-1999,6.0,12.0,Arizona,B,737.0,Good
12,7200.0,36 months,6.03,219.14,5 - 9 years,MORTGAGE,60000.0,Not Verified,Dec-2011,Fully Paid,other,2.54,0.0,May-1996,6.0,20.0,Arizona,A,792.0,Very Good
13,4200.0,60 months,17.27,105.00,5 - 9 years,RENT,43000.0,Source Verified,Dec-2011,Charged Off,debt_consolidation,10.13,0.0,Nov-1996,9.0,19.0,Arizona,D,697.0,Good
14,20000.0,60 months,18.64,514.86,2 - 4 years,MORTGAGE,80000.0,Source Verified,Dec-2011,Fully Paid,debt_consolidation,23.47,0.0,Jan-2001,8.0,13.0,Arizona,E,687.0,Good
15,16000.0,36 months,7.90,500.65,< 2 years,RENT,51000.0,Source Verified,Dec-2011,Charged Off,debt_consolidation,24.66,0.0,Dec-1992,8.0,28.0,Arizona,A,732.0,Good
16,11000.0,36 months,7.90,344.20,2 - 4 years,MORTGAGE,80000.0,Not Verified,Dec-2011,Charged Off,credit_card,4.74,0.0,Dec-1999,8.0,15.0,Arizona,A,727.0,Good
17,20000.0,60 months,19.03,324.47,5 - 9 years,RENT,130000.0,Verified,Dec-2011,Fully Paid,debt_consolidation,9.06,0.0,Dec-1993,9.0,25.0,Arizona,E,687.0,Good
18,10700.0,36 months,12.42,357.55,2 - 4 years,RENT,68000.0,Source Verified,Dec-2011,Fully Paid,debt_consolidation,16.41,0.0,Sep-2005,7.0,12.0,Arizona,B,707.0,Good
19,8000.0,36 months,7.90,250.33,2 - 4 years,RENT,75000.0,Not Verified,Dec-2011,Fully Paid,debt_consolidation,8.70,0.0,Mar-2002,6.0,16.0,Arizona,A,727.0,Good
20,30000.0,60 months,19.03,778.72,< 2 years,RENT,106000.0,Verified,Dec-2011,Fully Paid,credit_card,15.72,0.0,Oct-1999,12.0,24.0,Arizona,E,712.0,Good
21,6400.0,36 months,8.90,203.23,5 - 9 years,OWN,23000.0,Source Verified,Dec-2011,Fully Paid,debt_consolidation,10.75,0.0,Mar-1998,7.0,11.0,Arizona,A,707.0,Good
22,2250.0,36 months,13.49,76.35,5 - 9 years,RENT,16000.0,Source Verified,Dec-2011,Fully Paid,credit_card,18.75,0.0,Sep-2000,7.0,14.0,Arizona,C,667.0,Fair
23,22000.0,60 months,19.42,575.79,2 - 4 years,RENT,82500.0,Verified,Dec-2011,Current,debt_consolidation,16.20,0.0,Oct-2003,7.0,14.0,Arizona,E,717.0,Good
24,18000.0,60 months,15.27,329.07,2 - 4 years,RENT,60000.0,Verified,Dec-2011,Fully Paid,debt_consolidation,9.60,0.0,Dec-2002,8.0,31.0,Arizona,C,717.0,Good
25,7175.0,36 months,7.90,224.51,2 - 4 years,RENT,60000.0,Not Verified,Dec-2011,Charged Off,small_business,7.90,0.0,Feb-1986,4.0,15.0,Arizona,A,757.0,Very Good
26,4800.0,36 months,6.03,146.10,5 - 9 years,MORTGAGE,50000.0,Not Verified,Dec-2011,Fully Paid,major_purchase,5.52,0.0,Nov-1995,10.0,19.0,Arizona,A,772.0,Very Good
27,12000.0,60 months,11.71,265.18,2 - 4 years,MORTGAGE,45000.0,Not Verified,Dec-2011,Fully Paid,debt_consolidation,17.87,0.0,Nov-1995,7.0,20.0,Arizona,B,742.0,Very Good
28,20000.0,60 months,12.42,449.15,2 - 4 years,MORTGAGE,55000.0,Verified,Dec-2011,Current,credit_card,20.12,0.0,Jul-1984,10.0,34.0,Arizona,B,752.0,Very Good
29,35000.0,60 months,11.71,773.44,10+ years,MORTGAGE,75000.0,Verified,Dec-2011,Fully Paid,debt_consolidation,20.02,0.0,Jan-1990,14.0,33.0,Arizona,B,752.0,Very Good
30,5600.0,36 months,7.51,174.23,10+ years,RENT,43000.0,Source Verified,Dec-2011,Fully Paid,debt_consolidation,20.51,0.0,Sep-1998,9.0,26.0,Arizona,A,737.0,Good
31,3000.0,36 months,10.65,97.72,2 - 4 years,RENT,40000.0,Not Verified,Dec-2011,Charged Off,debt_consolidation,8.58,0.0,Nov-1994,6.0,28.0,Arizona,B,702.0,Good
32,25000.0,36 months,15.27,869.95,5 - 9 years,RENT,168000.0,Verified,Dec-2011,Fully Paid,debt_consolidation,15.50,0.0,Jul-2001,16.0,36.0,Arizona,C,697.0,Good
33,17000.0,36 months,12.42,568.06,< 2 years,MORTGAGE,76788.0,Verified,Dec-2011,Fully Paid,home_improvement,10.06,0.0,Dec-1994,7.0,33.0,Arizona,B,717.0,Good
34,5000.0,36 months,12.69,167.73,2 - 4 years,RENT,33000.0,Source Verified,Dec-2011,Fully Paid,moving,14.80,0.0,Jan-2002,5.0,16.0,Arizona,B,687.0,Good
35,6000.0,36 months,9.91,193.35,< 2 years,RENT,45000.0,Not Verified,Nov-2011,Fully Paid,debt_consolidation,11.57,0.0,Feb-2005,6.0,10.0,Arizona,B,707.0,Good
36,2500.0,60 months,12.69,56.49,< 2 years,OWN,33840.0,Not Verified,Nov-2011,Fully Paid,car,14.82,1.0,Dec-1995,8.0,11.0,Arizona,B,697.0,Good
37,20000.0,60 months,19.91,528.88,5 - 9 years,RENT,136500.0,Verified,Dec-2011,Fully Paid,home_improvement,24.23,1.0,Feb-1991,7.0,40.0,Arizona,E,677.0,Good
38,16000.0,36 months,7.90,500.65,5 - 9 years,RENT,30000.0,Verified,Dec-2011,Fully Paid,other,17.88,0.0,Dec-2000,7.0,12.0,Arizona,A,722.0,Good
39,7100.0,36 months,7.90,222.17,< 2 years,RENT,25000.0,Not Verified,Dec-2011,Fully Paid,credit_card,18.91,0.0,Mar-2001,5.0,28.0,Arizona,A,717.0,Good
40,25000.0,60 months,17.58,629.14,< 2 years,MORTGAGE,50000.0,Verified,Dec-2011,Fully Paid,small_business,9.91,0.0,Sep-2005,5.0,11.0,Arizona,D,727.0,Good
41,9800.0,36 months,12.69,328.74,10+ years,MORTGAGE,88000.0,Verified,Dec-2011,Fully Paid,home_improvement,10.79,0.0,Aug-1995,11.0,17.0,Arizona,B,692.0,Good
42,3300.0,36 months,14.65,113.84,< 2 years,RENT,66000.0,Not Verified,Dec-2011,Fully Paid,moving,11.60,0.0,Oct-2006,9.0,11.0,Arizona,C,667.0,Fair
43,10000.0,36 months,11.71,330.76,2 - 4 years,RENT,60000.0,Not Verified,Nov-2011,Fully Paid,credit_card,12.16,1.0,Sep-2002,11.0,20.0,Arizona,B,687.0,Good
44,18725.0,60 months,17.27,468.09,5 - 9 years,MORTGAGE,52000.0,Verified,Dec-2011,Charged Off,debt_consolidation,23.35,0.0,Nov-1993,9.0,24.0,Arizona,D,697.0,Good
45,20000.0,60 months,15.27,478.64,5 - 9 years,MORTGAGE,90000.0,Verified,Dec-2011,Fully Paid,debt_consolidation,12.33,0.0,Sep-1998,9.0,29.0,Arizona,C,712.0,Good
46,5000.0,36 months,17.58,179.72,< 2 years,RENT,21600.0,Verified,Nov-2011,Fully Paid,other,5.33,1.0,Aug-2007,2.0,4.0,Arizona,D,667.0,Fair
47,12100.0,60 months,17.27,302.48,2 - 4 years,RENT,50000.0,Source Verified,Dec-2011,Fully Paid,house,11.50,0.0,Apr-2005,8.0,15.0,Arizona,D,687.0,Good
48,15000.0,60 months,15.96,364.46,5 - 9 years,MORTGAGE,90000.0,Not Verified,Dec-2011,Current,debt_consolidation,14.35,0.0,Aug-2000,9.0,17.0,Arizona,C,707.0,Good
49,11500.0,36 months,7.90,359.84,2 - 4 years,MORTGAGE,55000.0,Source Verified,Nov-2011,Fully Paid,credit_card,4.45,0.0,Sep-2000,7.0,28.0,Arizona,A,732.0,Good

Removing the "fico_range" variable as this has now been replaced by "credit_score" showing scores from "Poor" to "Exceptional".

In [62]:
loans_data_clean = loans_data_clean.drop(["fico_range"], axis = 1)
loans_data_clean.head(50)

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,dti,delinq_2yrs,earliest_cr_line,open_acc,total_acc,state_name,grade,credit_score
0,5000.0,36 months,10.65,162.87,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,credit_card,27.65,0.0,Jan-1985,3.0,9.0,Arizona,B,Good
1,5000.0,36 months,7.90,156.46,2 - 4 years,RENT,36000.0,Source Verified,Dec-2011,Fully Paid,wedding,11.20,0.0,Nov-2004,9.0,12.0,Arizona,A,Good
2,6500.0,60 months,14.65,153.45,5 - 9 years,OWN,72000.0,Not Verified,Dec-2011,Fully Paid,debt_consolidation,16.12,0.0,Jan-1998,14.0,23.0,Arizona,C,Good
3,6000.0,36 months,12.42,200.50,< 2 years,RENT,36852.0,Source Verified,Dec-2011,Fully Paid,debt_consolidation,10.62,0.0,Apr-2007,7.0,12.0,Arizona,B,Good
4,12000.0,36 months,16.29,423.61,5 - 9 years,RENT,88365.0,Verified,Dec-2011,Fully Paid,debt_consolidation,16.85,0.0,Oct-1996,6.0,15.0,Arizona,D,Good
5,6000.0,36 months,13.49,203.59,5 - 9 years,RENT,50000.0,Not Verified,Dec-2011,Fully Paid,debt_consolidation,15.38,0.0,Mar-2004,6.0,7.0,Arizona,C,Good
6,5600.0,36 months,14.65,193.17,< 2 years,MORTGAGE,85000.0,Not Verified,Dec-2011,Charged Off,debt_consolidation,12.24,1.0,May-1999,8.0,31.0,Arizona,C,Good
7,7400.0,36 months,13.49,251.09,< 2 years,OWN,25000.0,Source Verified,Dec-2011,Fully Paid,debt_consolidation,8.45,0.0,Mar-1990,5.0,13.0,Arizona,C,Good
8,24250.0,60 months,23.91,519.76,5 - 9 years,MORTGAGE,120000.0,Verified,Dec-2011,Fully Paid,debt_consolidation,12.96,0.0,Apr-2000,7.0,20.0,Arizona,G,Good
9,2500.0,36 months,11.71,82.69,5 - 9 years,MORTGAGE,29000.0,Verified,Dec-2011,Fully Paid,debt_consolidation,18.70,0.0,Sep-2005,5.0,13.0,Arizona,B,Good
10,12000.0,36 months,8.90,381.04,5 - 9 years,MORTGAGE,40246.0,Verified,Dec-2011,Fully Paid,credit_card,17.08,0.0,Aug-1999,7.0,24.0,Arizona,A,Good
11,18000.0,60 months,11.71,397.77,< 2 years,RENT,40000.0,Source Verified,Dec-2011,Charged Off,debt_consolidation,18.18,0.0,Dec-1999,6.0,12.0,Arizona,B,Good
12,7200.0,36 months,6.03,219.14,5 - 9 years,MORTGAGE,60000.0,Not Verified,Dec-2011,Fully Paid,other,2.54,0.0,May-1996,6.0,20.0,Arizona,A,Very Good
13,4200.0,60 months,17.27,105.00,5 - 9 years,RENT,43000.0,Source Verified,Dec-2011,Charged Off,debt_consolidation,10.13,0.0,Nov-1996,9.0,19.0,Arizona,D,Good
14,20000.0,60 months,18.64,514.86,2 - 4 years,MORTGAGE,80000.0,Source Verified,Dec-2011,Fully Paid,debt_consolidation,23.47,0.0,Jan-2001,8.0,13.0,Arizona,E,Good
15,16000.0,36 months,7.90,500.65,< 2 years,RENT,51000.0,Source Verified,Dec-2011,Charged Off,debt_consolidation,24.66,0.0,Dec-1992,8.0,28.0,Arizona,A,Good
16,11000.0,36 months,7.90,344.20,2 - 4 years,MORTGAGE,80000.0,Not Verified,Dec-2011,Charged Off,credit_card,4.74,0.0,Dec-1999,8.0,15.0,Arizona,A,Good
17,20000.0,60 months,19.03,324.47,5 - 9 years,RENT,130000.0,Verified,Dec-2011,Fully Paid,debt_consolidation,9.06,0.0,Dec-1993,9.0,25.0,Arizona,E,Good
18,10700.0,36 months,12.42,357.55,2 - 4 years,RENT,68000.0,Source Verified,Dec-2011,Fully Paid,debt_consolidation,16.41,0.0,Sep-2005,7.0,12.0,Arizona,B,Good
19,8000.0,36 months,7.90,250.33,2 - 4 years,RENT,75000.0,Not Verified,Dec-2011,Fully Paid,debt_consolidation,8.70,0.0,Mar-2002,6.0,16.0,Arizona,A,Good
20,30000.0,60 months,19.03,778.72,< 2 years,RENT,106000.0,Verified,Dec-2011,Fully Paid,credit_card,15.72,0.0,Oct-1999,12.0,24.0,Arizona,E,Good
21,6400.0,36 months,8.90,203.23,5 - 9 years,OWN,23000.0,Source Verified,Dec-2011,Fully Paid,debt_consolidation,10.75,0.0,Mar-1998,7.0,11.0,Arizona,A,Good
22,2250.0,36 months,13.49,76.35,5 - 9 years,RENT,16000.0,Source Verified,Dec-2011,Fully Paid,credit_card,18.75,0.0,Sep-2000,7.0,14.0,Arizona,C,Fair
23,22000.0,60 months,19.42,575.79,2 - 4 years,RENT,82500.0,Verified,Dec-2011,Current,debt_consolidation,16.20,0.0,Oct-2003,7.0,14.0,Arizona,E,Good
24,18000.0,60 months,15.27,329.07,2 - 4 years,RENT,60000.0,Verified,Dec-2011,Fully Paid,debt_consolidation,9.60,0.0,Dec-2002,8.0,31.0,Arizona,C,Good
25,7175.0,36 months,7.90,224.51,2 - 4 years,RENT,60000.0,Not Verified,Dec-2011,Charged Off,small_business,7.90,0.0,Feb-1986,4.0,15.0,Arizona,A,Very Good
26,4800.0,36 months,6.03,146.10,5 - 9 years,MORTGAGE,50000.0,Not Verified,Dec-2011,Fully Paid,major_purchase,5.52,0.0,Nov-1995,10.0,19.0,Arizona,A,Very Good
27,12000.0,60 months,11.71,265.18,2 - 4 years,MORTGAGE,45000.0,Not Verified,Dec-2011,Fully Paid,debt_consolidation,17.87,0.0,Nov-1995,7.0,20.0,Arizona,B,Very Good
28,20000.0,60 months,12.42,449.15,2 - 4 years,MORTGAGE,55000.0,Verified,Dec-2011,Current,credit_card,20.12,0.0,Jul-1984,10.0,34.0,Arizona,B,Very Good
29,35000.0,60 months,11.71,773.44,10+ years,MORTGAGE,75000.0,Verified,Dec-2011,Fully Paid,debt_consolidation,20.02,0.0,Jan-1990,14.0,33.0,Arizona,B,Very Good
30,5600.0,36 months,7.51,174.23,10+ years,RENT,43000.0,Source Verified,Dec-2011,Fully Paid,debt_consolidation,20.51,0.0,Sep-1998,9.0,26.0,Arizona,A,Good
31,3000.0,36 months,10.65,97.72,2 - 4 years,RENT,40000.0,Not Verified,Dec-2011,Charged Off,debt_consolidation,8.58,0.0,Nov-1994,6.0,28.0,Arizona,B,Good
32,25000.0,36 months,15.27,869.95,5 - 9 years,RENT,168000.0,Verified,Dec-2011,Fully Paid,debt_consolidation,15.50,0.0,Jul-2001,16.0,36.0,Arizona,C,Good
33,17000.0,36 months,12.42,568.06,< 2 years,MORTGAGE,76788.0,Verified,Dec-2011,Fully Paid,home_improvement,10.06,0.0,Dec-1994,7.0,33.0,Arizona,B,Good
34,5000.0,36 months,12.69,167.73,2 - 4 years,RENT,33000.0,Source Verified,Dec-2011,Fully Paid,moving,14.80,0.0,Jan-2002,5.0,16.0,Arizona,B,Good
35,6000.0,36 months,9.91,193.35,< 2 years,RENT,45000.0,Not Verified,Nov-2011,Fully Paid,debt_consolidation,11.57,0.0,Feb-2005,6.0,10.0,Arizona,B,Good
36,2500.0,60 months,12.69,56.49,< 2 years,OWN,33840.0,Not Verified,Nov-2011,Fully Paid,car,14.82,1.0,Dec-1995,8.0,11.0,Arizona,B,Good
37,20000.0,60 months,19.91,528.88,5 - 9 years,RENT,136500.0,Verified,Dec-2011,Fully Paid,home_improvement,24.23,1.0,Feb-1991,7.0,40.0,Arizona,E,Good
38,16000.0,36 months,7.90,500.65,5 - 9 years,RENT,30000.0,Verified,Dec-2011,Fully Paid,other,17.88,0.0,Dec-2000,7.0,12.0,Arizona,A,Good
39,7100.0,36 months,7.90,222.17,< 2 years,RENT,25000.0,Not Verified,Dec-2011,Fully Paid,credit_card,18.91,0.0,Mar-2001,5.0,28.0,Arizona,A,Good
40,25000.0,60 months,17.58,629.14,< 2 years,MORTGAGE,50000.0,Verified,Dec-2011,Fully Paid,small_business,9.91,0.0,Sep-2005,5.0,11.0,Arizona,D,Good
41,9800.0,36 months,12.69,328.74,10+ years,MORTGAGE,88000.0,Verified,Dec-2011,Fully Paid,home_improvement,10.79,0.0,Aug-1995,11.0,17.0,Arizona,B,Good
42,3300.0,36 months,14.65,113.84,< 2 years,RENT,66000.0,Not Verified,Dec-2011,Fully Paid,moving,11.60,0.0,Oct-2006,9.0,11.0,Arizona,C,Fair
43,10000.0,36 months,11.71,330.76,2 - 4 years,RENT,60000.0,Not Verified,Nov-2011,Fully Paid,credit_card,12.16,1.0,Sep-2002,11.0,20.0,Arizona,B,Good
44,18725.0,60 months,17.27,468.09,5 - 9 years,MORTGAGE,52000.0,Verified,Dec-2011,Charged Off,debt_consolidation,23.35,0.0,Nov-1993,9.0,24.0,Arizona,D,Good
45,20000.0,60 months,15.27,478.64,5 - 9 years,MORTGAGE,90000.0,Verified,Dec-2011,Fully Paid,debt_consolidation,12.33,0.0,Sep-1998,9.0,29.0,Arizona,C,Good
46,5000.0,36 months,17.58,179.72,< 2 years,RENT,21600.0,Verified,Nov-2011,Fully Paid,other,5.33,1.0,Aug-2007,2.0,4.0,Arizona,D,Fair
47,12100.0,60 months,17.27,302.48,2 - 4 years,RENT,50000.0,Source Verified,Dec-2011,Fully Paid,house,11.50,0.0,Apr-2005,8.0,15.0,Arizona,D,Good
48,15000.0,60 months,15.96,364.46,5 - 9 years,MORTGAGE,90000.0,Not Verified,Dec-2011,Current,debt_consolidation,14.35,0.0,Aug-2000,9.0,17.0,Arizona,C,Good
49,11500.0,36 months,7.90,359.84,2 - 4 years,MORTGAGE,55000.0,Source Verified,Nov-2011,Fully Paid,credit_card,4.45,0.0,Sep-2000,7.0,28.0,Arizona,A,Good

Writing cleaned data to csv.

Checking "delinq_2yrs" - The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years

In [63]:
loans_data_clean["delinq_2yrs"].value_counts()

0.0     34290
1.0      3222
2.0       664
3.0       215
4.0        61
5.0        21
6.0        10
7.0         4
8.0         2
11.0        1
9.0         1
Name: delinq_2yrs, dtype: int64

Binning values and converting type from integer to categorical.

In [64]:
loans_data_clean["delinq_2yrs"] = loans_data_clean["delinq_2yrs"].astype("category")

In [65]:
def delinq_cat (row):
    if row["delinq_2yrs"] == 0.00:
        return "0"
    if row["delinq_2yrs"] == 1.0:
        return "1"
    return "2+"

loans_data_clean["delinq_2yrs"] = loans_data_clean.apply(lambda row: delinq_cat(row), axis = 1)
loans_data_clean["delinq_2yrs"].value_counts()

0     34290
1      3222
2+      979
Name: delinq_2yrs, dtype: int64

In [66]:
loans_data_clean.to_csv("../clean_data/loans_data.csv", index=False)